<!doctype html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<title>Error 404</title>
	<meta name="description" content="">
	<meta name="author" content="">
	<!--[if lt IE 9]>
		<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->
	
	<!-- Mobile Specific Metas -->
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" /> 
	
		
	<!-- CSS -->
	<link rel="stylesheet" href="{{=URL('static','css/base.css')}}" >	
	<link rel="stylesheet" href="{{=URL('static','css/amazium.css')}}">
	<link rel="stylesheet" href="{{=URL('static','css/layout.css')}}">
	<link rel="stylesheet" href="{{=URL('static','css/404.css')}}">
	<link href='http://fonts.googleapis.com/css?family=Maven+Pro' rel='stylesheet' type='text/css'>
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.18/jquery-ui.min.js"></script>

</head>
<body>


	<div class="row">
		<div class="column grid_12 tex-center" style="margin-top: 10%;">
			<p class="error-404">Error</p>
			<p class="error">404</p>
			<p class="error-link">Página no encontrada</p>
			<p><a href="index.html">Regrese a la página principal</a> o contacte al administrador</p>
		</div>
	</div>


</body>
</html>