{{extend 'template_fayol.html'}}

{{block main_content}}
<div class="row" style="margin:auto auto; height: 490px">
    <div class="grid_4" style="background: #ccc">
        <ul>
            <li>Agregar</li>
            <li>Editar</li>
            <li>Buscar</li>
            <li>4</li>
            <li>5</li>
        </ul>
    </div>
    <div class="grid_8">
        <div id="menu_opt">
            <ul>
                <li><a href="#" data-mg="0">Proveedor</a></li>
                <li><a href="#" data-mg="620">Contacto</a></li>
                <li><a href="#" data-mg="1240">Formas de Pago</a></li>
            </ul>
        </div>
        {{=form}}

    </div>
</div>
{{end}}

{{block jq_shit}}
<script>

    var uls = jQuery('.main_content').find('ul'),
        cont = 0;

    jQuery('#menu_opt').find('a').live('click', function(e) {
         e.preventDefault();
         cont = parseInt(jQuery(this).attr('data-mg'));
         uls.find('li#'+cont)
                 .animate({opacity: 1},1000)
                 .siblings().animate({opacity: 0},100);;
         uls.animate({marginLeft: -cont+'px'},1000);
        console.log(cont);
         //console.log(uls.find('li#'+cur).siblings() );
    });

    $(document).keydown(function(tecla){
        if(tecla.keyCode == 39) {
            cont += cont <= 1239 ? 620 : 0;
            console.log(cont);
        }
        else if(tecla.keyCode == 37) {
            cont -= cont >= 1 ? 620 : 0;
            console.log(cont);
        }
        uls.find('li#'+cont)
                .animate({opacity: 1},1000)
                .siblings().animate({opacity: 0},100);;
        uls.animate({marginLeft: -cont+'px'},1000);
    });

</script>
{{end}}