{{extend 'template_fayol.html'}}


{{block main_content}}
<div class="row" style="margin:auto auto; height: auto;">
    <div class="grid_12">
        <div id="menu_opt">
            <ul>
                <li><a href="#" data-mg="0">Proveedor</a></li>
                <li><a href="#" data-mg="1">Contacto</a></li>
                <li><a href="#" data-mg="2">Agentes</a></li>
                <li><a href="#" data-mg="3">Formas de Pago</a></li>
            </ul>
        </div>
        
        <form id="form_pro">
            <div class="main_content">
                <ul>
                    <li id="0">
                        <h4>Detalles del Proveedor</h4><br>
                        Nombre de la Empresa: * 
                        <input class="iptn" name="empresa"><br><br>
                        Direccion: 
                        <input class="iptn" name="direccion"><br><br>
                        Estado: 
                        <select>
                            <option>Seleccionar</option>
                        </select><br><br>
                        Ciudad:
                        <select>
                            <option>Seleccionar</option>
                        </select><br><br>
                        Municipio:
                        <select>
                            <option>Seleccionar</option>
                        </select><br><br>
                        Código postal: 
                        <input class='iptn' name='cp' maxlength='5'><br><br>
                        RFC: 
                        <input class='iptn' name='rfc' maxlength='14'><br><br>
                        Correo del Proveedor: 
                        <input class='iptn' name='correop'><br><br>
                        Pagina web: 
                        <input class='iptn' name='sitio'>
                    </li>
                    <li id="620">
                        <h4>Datos de Contacto</h4>
                        <a href="#" id="addc">Agregar contacto</a><br><br>
                        <div id="area-contacto"></div> 
                    </li>
                    <li id="1240">
                        <h4>Agentes de Venta</h4>
                        <a href="#" id="adda">Agregar agente</a><br><br>
                        <div id="area-agente"></div>
                    </li>
                    <li id="1860">
                        <h5>Cheques</h5><br>
                        Numero de cuenta:                         
                        <input class='iptn' name='cuenta' maxlength='11'><br>
                        <br>
                        Banco:
                        <select>
                            <option>Ninguno</option>
                        </select><br><br><br><br>
                        <h5>Cheques</h5><br>
                        CLABE:  
                        <input class='iptn' name='clabe' maxlength='18'><br>
                        <br><br><br>
                        <input type='submit' id='btng' name='btng' 
                        value='Guardar'>
                    </li>
                </ul>
            </div>
        </form>
    </div>
</div>
{{end}}

{{block jq_shit}}
<script>
    /*
    *Funciones para mostrar el menu
    *
    */
    var uls = jQuery('.main_content').find('ul'),
        cont = 0;

    jQuery('#menu_opt').find('a').live('click', function(e) {
         e.preventDefault();
         cont = parseInt(jQuery(this).attr('data-mg'))*620;
         uls.find('li#'+cont)
                 .animate({opacity: 1},500)
                 .siblings().animate({opacity: 0},100);
         uls.animate({marginLeft: -cont+'px'},500);
        //console.log(cont);
         //console.log(uls.find('li#'+cur).siblings() );
    });

    //Funcion para usar el teclado con las opciones del menu
    $(document).keydown(function(tecla){
        if(tecla.keyCode == 39) {
            cont += cont <= 1859 ? 620 : 0;
            //console.log(cont);
        }
        else if(tecla.keyCode == 37) {
            cont -= cont >= 1 ? 620 : 0;
            //console.log(cont);
        }
        uls.find('li#'+cont)
                .animate({opacity: 1}, 500)
                .siblings().animate({opacity: 0},100);;
        uls.animate({marginLeft: -cont+'px'}, 500);
    });
    /*
    *Funciones para agregar y eliminar nuevos campos
    *
    */
    jQuery('#mast').append('<a>agregar otro</a>');

    jQuery('#mast a').live('click', function() {
        var newt = jQuery('input[name=telp]');
    });

    /*
    *Validacion del formulario
    *
    */
    jQuery('#btng').live('click', function(e) {
        e.preventDefault();
        var remp = jQuery('input[name=empresa]');
        remp.val() != ''? remp.removeClass('invalidinput'): 
        remp.addClass('invalidinput')

        

    });

    var idel = 0;
    jQuery('#addc').live('click', function(e) {
        e.preventDefault();
        jQuery('#area-contacto').append('<div id="contacto-'+idel+'" style="height:auto;">Tipo:  <select><option>ninguno</option></select><br><br>Telefono: <input class="iptn" name=""><br><br><input type="button" onclick="borrarc('+idel+')" value="Eliminar"><br><br></div>');
        idel+=1;
    });

    var idela = 0;
    jQuery('#adda').live('click', function(e) {
        e.preventDefault();
        jQuery('#area-agente').append('<div id="agente-'+idela+'" style="height:auto;">Nombre Agente: <input class="iptn" name=""><br><br>Tipo:  <select><option>ninguno</option></select><br><br>Telefono: <input class="iptn" name=""><br><br><input type="button" onclick="borrara('+idela+')" value="Eliminar"><br><br></div>');
        idela+=1;
    });

    function borrarc(quien) {
        jQuery('#contacto-'+quien).remove();
    }
    function borrara(quien) {
        jQuery('#agente-'+quien).remove();
    }

</script>
{{end}}