{{extend 'template_fayol.html'}}

{{block main_content}}
<div class="row" style="margin:auto auto; height: 490px">
    <div class="grid_4" style="background: #ccc">
        <ul>
            <li>Agregar</li>
            <li>Editar</li>
            <li>Buscar</li>
            <li>4</li>
            <li>5</li>
        </ul>
    </div>
    <div class="grid_8">
        <form action="" id="form_pro" method="post">
            <div id="menu_opt">
                <ul>
                    <li><a href="#" data-mg="0">Proveedor</a></li>
                    <li><a href="#" data-mg="620">Contacto</a></li>
                    <li><a href="#" data-mg="1240">Formas de Pago</a></li>
                </ul>
            </div>
            <div class="main_content">
                <ul>
                    <li id="0">
                        <h4>Detalles del Proveedor</h4>
                        <div class="wrapper-block">Codigo del proveedor: <input class="input_normal" name="codigo"  placeholder="4 digitos" maxlength="4" pattern="^(?:\+)?\d{1,4}$" required></div>
                        <div class="wrapper-block">Nombre de la Empresa: <input class="input_normal" name="empresa" placeholder="Nombre" required></div>
                        <div class="wrapper-block">Direccion: <input class="input_normal" name="direccion" placeholder="Direccion" required></div>
                        <div class="wrapper-block">Ciudad: <input class="input_normal" name="ciudad" placeholder="Ciudad" required></div>
                        <div class="wrapper-block">Municipio: <input class="input_normal" name="municipio" placeholder="Municipio" required></div>
                        <div class="wrapper-block">Estado: <input class="input_normal" name="estado" placeholder="Estado" required></div>
                        <div class="wrapper-block">Codigo Postal<input class="input_normal" name="cp" placeholder="5 digitos" maxlength="5" pattern="^([1-9]{2}|[0-9][1-9]|[1-9][0-9])[0-9]{3}$" required></div>
                        <div class="wrapper-block">RFC: <input class="input_normal" name="rfc" placeholder="Ejemplo XXXXXXXXXX-XX" maxlength="13" minlenght="10" pattern="^[a-zA-Z]{3,4}(\d{6})((\D|\d){3})?$" required></div>
                        <div class="wrapper-block">Telefono del Proveedor: <input class="input_normal" name="telp" placeholder="Ejemplo: 000-0000000" pattern="^[0-9]{3}-? ?[0-9]{7}$" maxlength="11" required></div>
                        <div class="wrapper-block">Correo del Proveedor: <input class="input_normal" name="correop" placeholder="ejemplo@mail.com" pattern="^([\w-\.]+)@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.)|(([\w-]+\.)+))([a-zA-Z]{2,4}|[0-9]{1,3})(\]?)$" required></div>
                        <div class="wrapper-block">Pagina web: <input class="input_normal" name="sitio" placeholder="www.ejemplo.com" pattern="^(www.)[0-9a-zA-Z]+.(com|org|net|gob|mx)(.mx)?$" required></div>
                    </li>
                    <li id="620">
                        <h4>Datos de Contacto</h4>
                        <div class="wrapper-block">Nombre de Contacto: <input class="input_normal" name="nombre" placeholder="Nombre" required></div>
                        <div class="wrapper-block">Telefono: <input class="input_normal" name="telefono" placeholder="Ejemplo: 000-0000000" pattern="^[0-9]{3}-? ?[0-9]{7}$" required></div>
                        <div class="wrapper-block">Correo electronico: <input class="input_normal" name="correo" placeholder="ejemplo@mail.com" pattern="^([\w-\.]+)@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.)|(([\w-]+\.)+))([a-zA-Z]{2,4}|[0-9]{1,3})(\]?)$" required></div>
                    </li>
                    <li id="1240">
                        <h4>Formas de pago</h4>
                        <br><br>
                        <h5>Cheques</h5>
                        <div class="wrapper-block">N&uacute;mero de cuenta: <input class="input_normal" name="cuenta" placeholder="Cuenta" required></div>
                        <div class="wrapper-block">Banco: <input class="input_normal" name="banco" placeholder="Banco" required></div>
                        <br><br>
                        <h5>Transferencia</h5>
                        <div class="wrapper-block">CLABE interbancaria:<input class="input_normal" name="clabe" placeholder="CLABE" required></div>
                        <div class="wrapper-block"><input id="btng" name="btng" type="submit" value="Guardar" ></div>
                    </li>
                </ul>
            </div>

        </form>

    </div>
</div>
{{end}}

{{block jq_shit}}
<script type="text/javascript" src="{{=URL('static','js/validate_form.js')}}"></script>
<script>

    var uls = jQuery('.main_content').find('ul'),
        who,
        cur;

    jQuery('#menu_opt').find('a').live('click', function(e) {
         e.preventDefault();
         cur = jQuery(this).attr('data-mg');
         who = cur*-1;
         uls.find('li#'+cur)
                 .animate({opacity: 1},1000)
                 .siblings().animate({opacity: 0},100);;
         uls.animate({marginLeft: who+'px'},1000);

         //console.log(uls.find('li#'+cur).siblings() );
    });

    jQuery('#btng').live('click', function(e) {
        e.preventDefault();

        var uno = validate_this_input('codigo'),
            dos = validate_this_input('empresa'),
            tre = validate_this_input('direccion'),
            cua = validate_this_input('ciudad'),
            cin = validate_this_input('municipio'),
            sei = validate_this_input('estado'),
            sie = validate_this_input('cp'),
            och = validate_this_input('rfc'),
            nue = validate_this_input('telp'),
            die = validate_this_input('correop'),
            onc = validate_this_input('sitio'),
            dos = validate_this_input('nombre'),
            tre = validate_this_input('telefono'),
            cat = validate_this_input('correo'),
            qui = validate_this_input('cuenta'),
            di6 = validate_this_input('banco'),
            di7 = validate_this_input('clabe');

        if ( uno && dos && tre && cua && cin && sei && sie && och && nue && die && onc && dos && tre && cat && qui && di6 && di7 ) {
            console.log('good');
        }

    });
</script>
{{end}}