<!doctype html>
<html lang="{{=T.accepted_language or 'es-mx'}}">
<head>
    <meta charset="utf-8" />
    <title>Error 500</title>
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- fav -->
    <link rel="shortcut icon" href="{{=URL('static','favicon.ico')}}" type="image/x-icon">
    <link rel="apple-touch-icon" href="{{=URL('static','favicon.png')}}">
    <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!-- Mobile Specific Metas
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
    -->

    <!-- CSS -->
    <link rel="stylesheet" href="{{=URL('static','css/base.css')}}" >
    <link rel="stylesheet" href="{{=URL('static','css/amazium.css')}}">
    <link rel="stylesheet" href="{{=URL('static','css/layout.css')}}">
    <link rel="stylesheet" href="{{=URL('static','css/500.css')}}">
    <link href='http://fonts.googleapis.com/css?family=Maven+Pro' rel='stylesheet' type='text/css'>
    <script src="{{=URL('static','js/jquery-ui.min.js')}}"></script>

</head>
<body>


<div class="row">
    <div class="column grid_12 tex-center" style="margin-top: 10%;">
        <p class="error-500">Error</p>
        <p class="error">500</p>
        <p class="error-link">{{=T('Internal server error')}}</p>
        <p><a href="index.html">{{=T('Back to the main page')}}</a>{{=T(' or contact the administrator')}}</p>
    </div>
</div>


</body>
</html>