<!doctype html>
<html lang="es">
<head>
	<meta charset="utf-8" />
	<title>Administración de Fayol</title>
	<!-- fav -->
	<link rel="shortcut icon" href="{{=URL('static','favicon.ico')}}" type="image/x-icon">
  	<link rel="apple-touch-icon" href="{{=URL('static','favicon.png')}}">
	{{include 'web2py_ajax.html'}}
	<!--[if lt IE 9]>
		<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->
	
	<!-- Mobile Specific Metas
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" /> 
	-->

	<!-- CSS -->
	<link rel="stylesheet" href="{{=URL('static','css/base.css')}}" >	
	<link rel="stylesheet" href="{{=URL('static','css/amazium.css')}}">
	<link rel="stylesheet" href="{{=URL('static','css/layout.css')}}">
	<link href='http://fonts.googleapis.com/css?family=Maven+Pro' rel='stylesheet' type='text/css'>
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.18/jquery-ui.min.js"></script>
    

</head>
<body>
	<!-- Notificaciones del sistema -->


    <!-- Sistema -->
    <div class="vertical">
    
	<div class="row">
		<div class="grid_6 text-left titulo" style="height:490px; margin-top:10px;">
			<h1 style="margin-top:80px;">Refaccionaria del Hogar</h1>
	    	<div style="margin-top:60px;">
				{{block my_form}}
		        {{include}}
		        {{end}}
	        	<br>
	        	<span style="color:#999999; font-size:12px;">¿Se te olvidó la contraseña?.
	        		<a href="#">Sigue los siguientes pasos.</a></span><br><br>
	        		<span id="err"></span>
	   		</div>
	    </div>

	    <div class="grid_6" style="margin-top:10px; height:480px;">  
	    	<div id="alogo_hype_container" style="position:relative;overflow:hidden;width:440px;height:450px;">
				<script type="text/javascript" src="{{=URL('static','js/alogo_hype_generated_script.js')}}"></script>
			</div>
	    </div>    
	</div>
	 
	 <div class="row" style="margin:auto auto;">
		<div class="grid_12 text-center pie">
			{{block my_footer}}
			{{include}}
			{{end}}	    	
	    </div>
	 </div>

	 </div>

	<script type="text/javascript" src="{{=URL('static','js/message.js')}}"></script>
	<script type="text/javascript" src="{{=URL('static','js/validate.js')}}"></script>	
	<script>
        jQuery('.vertical').before("<div id='fondo'><div id='mensaje' class='grid_4 text-center'> Error<br>Contraseña o usuario incorrecto.<br><br><input id='btn' type='button' style='width:90%;' value='Aceptar'></div></div>");
		jQuery('#submit').live('click', function(e) {
			e.preventDefault();
			var usr = jQuery('#usr'),
				pwd = jQuery('#pwd'),
				tkn = jQuery('div.hidden input').val(),
				bol = null;
				
			bol = validate(usr, pwd, tkn);

			if (bol) 
			{
                r = 0 //response returned
                usr = $('#usr').val();
                pwd = $('#pwd').val();
                tkn = $('#tkn').val();
                $.ajax({
                    url: '{{=URL('user', 'login')}}',
                    data: 'usr='+usr+'&pwd='+pwd+'&tkn='+tkn,
                    type: 'POST',
                    success:function(data){
                        r = data;
                        alert(data);
                    }
                });
                if(r!=1){
                    tkn = 0
                    $.ajax({
                        url: '{{=URL('default', 'ajax_token')}}',
                        type: 'POST',
                        success: function(data){
                            $('#tkn').val(data);
                        }
                    });
                }
			}
		});

		jQuery('a').click( function() {
			var h = (jQuery(document).height()/2)-100,
				w = (jQuery(document).width()/2)-150;
				//console.log(h+' '+w);
            message_show(h,w);

		});
		
		jQuery('#btn').click(function(){
			message_hide();
		});
	</script>
</body>
</html>
