<!doctype html>
<html lang="">
<head>
	<meta charset="utf-8" />
	<title>{{=T("Fayol's Administration")}}</title>
	<!-- fav {{=T.accepted_language or 'en'}} -->
	<link rel="shortcut icon" href="{{=URL('static','favicon.ico')}}" type="image/x-icon">
  	<link rel="apple-touch-icon" href="{{=URL('static','favicon.png')}}">
	{{include 'web2py_ajax.html'}}
	<!--[if lt IE 9]>
		<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->
	
	<!-- Mobile Specific Metas
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" /> 
	-->

	<!-- CSS -->
	<link rel="stylesheet" href="{{=URL('static','css/base.css')}}" >	
	<link rel="stylesheet" href="{{=URL('static','css/amazium.css')}}">
	<link rel="stylesheet" href="{{=URL('static','css/layout.css')}}">
	<link href='http://fonts.googleapis.com/css?family=Maven+Pro' rel='stylesheet' type='text/css'>
    <script src="{{=URL('static','js/jquery-ui.min.js')}}"></script>
    

</head>
<body>
	<!-- System's notifications  -->

        <div class="flash text-center">
            <div class="img_c"></div>
            <span style="overflow: hidden;" class="flash_m">{{=response.flash or ''}}</span>
        </div>


    <!-- System -->
    <div class="vertical">
    
	<div class="row">
		<div class="grid_6 text-left titulo" style="height:490px; margin-top:10px;">
			<h1 style="margin-top:80px;">{{=T("Refaccionaria del Hogar")}}</h1>
	    	<div style="margin-top:60px;">
				{{block my_form}}
		        {{include}}
		        {{end}}
	        	<br>
	        	<span style="color:#999999; font-size:12px;">{{=T("Password lost?")}}.
	        		<a href="#">{{=T("Follow next steps")}}.</a></span><br><br>
	        		<span id="err"></span>
	   		</div>
	    </div>

	    <div class="grid_6" style="margin-top:10px; height:480px;">  
	    	<div id="logotipo_hype_container" style="position:relative;overflow:hidden;width:440px;height:450px;">
				<script type="text/javascript" src="{{=URL('static','js/logotipo_hype_generated_script.js')}}"></script>
			</div>
	    </div>    
	</div>
	 
	 <div class="row" style="margin:auto auto;">
		<div class="grid_12 text-center pie">
			{{block my_footer}}
			{{include}}
			{{end}}

            {{if hasattr(T,'get_possible_languages'):}}
            <span>
              {{=T('Language')}}
              <select name="my_lng" onchange="var date = new Date();cookieDate=date.setTime(date.getTime()+(100*24*60*60*1000));document.cookie='my_lng='+this.options[this.selectedIndex].value+'; expires='+cookieDate+'; path=/';window.location.reload()">
                  {{for language in T.get_possible_languages():}}
                  <option {{=T.accepted_language==language and 'selected' or ''}} >{{=language}}</option>
                  {{pass}}
              </select>
            </span>
            {{pass}}
	    </div>
	 </div>
	 </div>
    <input type="hidden" id="btn_enter" value="{{=T('Enter')}}">
    <input type="hidden" id="placeholder_empty" value="{{=T('This field can not be empty')}}">
    <input type="hidden" id="placeholder_user" value="{{=T('User')}}">
    <input type="hidden" id="placeholder_pass" value="{{=T('Password')}}">


	<script type="text/javascript" src="{{=URL('static','js/message.js')}}"></script>
	<script type="text/javascript" src="{{=URL('static','js/validate.js')}}"></script>
	<script>
        var r = 0
        //jQuery('.vertical').before("<div id='fondo'><div id='mensaje' class='grid_4 text-center'> </div></div>");
		jQuery('#submit').live('click', function(e) {
			e.preventDefault();
			var usr = jQuery('#usr'),
				pwd = jQuery('#pwd'),
				tkn = jQuery('div.hidden input').val(),
				bol = null;

			bol = validate(usr, pwd, tkn);

			if (bol)
			{
                usr = $('#usr').val();
                pwd = $('#pwd').val();
                tkn = $('#tkn').val();
                var r_challenge = $('#recaptcha_challenge_field').val()
                var r_responce = $('#recaptcha_response_field').val()

                $.ajax({
                    url: '{{=URL('user', 'login')}}',
                    data: 'usr='+usr+'&pwd='+pwd+'&tkn='+tkn+'&r_challenge='+r_challenge+'&r_response='+r_responce,
                    type: 'POST',
                    success:function(data){
                        r = data;
                        if(r == 0) {
                            //

                            message_show('error_0','Error<br>Usuario y/o contraseña incorrectos.');
                            //console.log('asdas');

                        } else if(r == 1) {
                            console.log('logged');
                        } else if(r == 2) {
                            console.log('captcha');
                        } else {
                            message_show('error_n','Petición invalida');
                        }

                        if(r!=1){
                            tkn = 0
                            $.ajax({
                                url: '{{=URL('default', 'ajax_token')}}',
                                type: 'POST',
                                success: function(data){
                                    $('#tkn').val(data);
                                }
                            });
                        }

                    }
                });
			}
		});

	</script>
</body>
</html>
