<!doctype html>
<html lang="es">
<head>
	<meta charset="utf-8" />
	<title>{{=nombre_vista}}</title>
	<!-- fav {{=T.accepted_language or 'en'}} -->
	<link rel="shortcut icon" href="{{=URL('static','favicon.ico')}}" type="image/x-icon">
  	<link rel="apple-touch-icon" href="{{=URL('static','favicon.png')}}">
	{{include 'web2py_ajax.html'}}
	<!--[if lt IE 9]>
		<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->
	
	<!-- Mobile Specific Metas
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" /> 
	-->

	<!-- CSS -->
	<link rel="stylesheet" href="{{=URL('static','css/base.css')}}" >	
	<link rel="stylesheet" href="{{=URL('static','css/amazium.css')}}">
	<link rel="stylesheet" href="{{=URL('static','css/layout.css')}}">
	<link href='http://fonts.googleapis.com/css?family=Maven+Pro' rel='stylesheet' type='text/css'>
    <script src="{{=URL('static','js/jquery-ui.min.js')}}"></script>
    {{block estilos}}
    {{include}}
    {{end}}


</head>
<body>
<div class="flash text-center">
    <span style="overflow: hidden;" class="flash_m">{{=response.flash or ''}}</span>
</div>
    <!-- System -->

    <div class="row" style="margin:auto auto; height: 100px">
        <div class="grid_8">
            <h3>Header.</h3>
        </div>
        <div class="grid_4">
            <h3>{{=nombre}}</h3>
        </div>

    </div>

    {{block main_content}}
    {{include}}
    {{end}}
	 
	 <div class="row" style="margin:auto auto;">
		<div class="grid_12 text-center pie">
            <h3>{{=T('Copyright')}} &#169; {{=request.now.year}} BeardCode. {{=T("Rights reserved")}}.</h3>
	    </div>
	 </div>
    {{block jq_shit}}
    {{include}}
    {{end}}
</body>
</html>
