{{extend 'base/layout.html'}}

{{block scripts_extra}}
<script type="text/javascript" src="{{=URL('static', 'js/plugins/jquery.alerts.js')}}"></script>

<script type="text/javascript" src="{{=URL('static', 'js/plugins/jquery.validate.min.js')}}"></script>
<script type="text/javascript" src="{{=URL('static', 'js/plugins/chosen.jquery.min.js')}}"></script>
<script type="text/javascript" src="{{=URL('static', 'js/plugins/jquery.dataTables.min.js')}}"></script>
<script type="text/javascript" src="{{=URL('static', 'js/custom/dualselector.js')}}"></script>
<style type="text/css">
    .ellol { border: 1px solid red; }    
    .nover{display: none;}
</style>
{{end}}

{{block sidebar_menu}}
{{include 'inventory/sidebar.html'}}
{{end}}

{{block content}}
    <div class="centercontent">
    
        <div class="pageheader">
        
            <h1 class="pagetitle">{{=title}}</h1>
            
        </div><!--pageheader-->
        
        <div id="contentwrapper" class="contentwrapper">
        
        	<div id="validation" class="subcontent">
         
					<div class="notibar msgerror" style="display:none;">
                    	<a class="close"></a>
                    	<p>Ocurrió un error con los datos del formulario.</p>
                    </div>

                	<div class="notibar exists" style="display:none;">
                   		<a class="close"></a>
                    	<p>Este producto ya existe, para editarlo vaya a la sección de ver producto. </p>
                    </div>

                	<div class="notibar msgsuccess" style="display:none;">
                        <a class="close"></a>
                        <p>Se han guardado los datos del formulario.</p>
                    </div>
            	
                    <form id="form_entries" class="stdform stdform2" method="post" action="">           	                        
                        
                        <p style="height:52px; padding-top:20px;">
				              <span class="formwrapper" style="margin-left:20px;">
				                    <input type="radio" id="radio_branch" name="radios" value="branches" checked="checked"/> Sucursal &nbsp; &nbsp;
				                    <input type="radio" id="radio_warehouse" name="radios"  value="warehouses" /> Almacén &nbsp; &nbsp;
				              </span>
				        </p>
				        
				        <p id="selectbranch" style="margin-top: 1px;">
                            <label>Sucursal *</label>
                            <span class="field">
                                <select id="branch" name="branch" data-placeholder="Seleccionar" class="chzn-select" style="" tabindex="1">
                                  </select>
                            </span>
                        </p>
                        
                        <p id="selectware" style="margin-top: 1px;">
                            <label>Almacén *</label>
                            <span class="field">
                                <select id="warehouse" name="warehouse" data-placeholder="Seleccionar" class="chzn-select" style="" tabindex="1">
                                  </select>
                            </span>
                        </p>
                        <p style="margin-top: 1px;">
	                        	<label>Referencia</label>
	                            <span class="field"><input type="text" name="reference" id="reference" class="smallinput" tabindex="2"/></span>
	                    </p>
	                    <p style="margin-top: 1px;">
	                        	<label>Descripción</label>
	                            <span class="field"><input type="text" name="description" id="description" class="smallinput" tabindex="3"/></span>
	                    </p>
	                    <p style="margin-top: 1px;">
                            <label>Concepto *</label>
                            <span class="field">
                                <select id="concept_id" name="concept_id" data-placeholder="Seleccionar" class="chzn-select" style="width:350px;" tabindex="4">
                                  </select>
                            </span>
                        </p>
	                    
	                    <p style="margin-top: 1px;">
	                        	<label>Fecha de recepción *</label>
	                            <span class="field"><input type="text" id="date_receipt" name="date_receipt" tabindex="5"/></span>
	                    </p>
	                                       
                        <p class="stdformbutton">
                        	<button id="submit" class="submit radius2" tabindex="14">Guardar</button>
                        </p>
                        
                        
                    </form>
                   

            </div><!--subcontent-->     
        
        </div><!--contentwrapper-->
        
        <br clear="all" />
        
	</div><!-- centercontent -->
        
</div><!--bodywrapper-->


<script>

	jQuery("#date_receipt").datepicker();
	jQuery(".chzn-select").chosen();
	jQuery("input:radio").uniform();
	
	var bid = '',
    	wid = '',
    	cid = '';
	
	var brands = jQuery('#radio_branch');
	var ware = jQuery('#radio_warehouse');
	
						
	function changeradio(expose)
	{
		if(expose == 'branches'){
			jQuery('#selectbranch').removeClass('nover');
			jQuery('#selectware').addClass('nover');
			jQuery('#selectware')
            	.find('option')
            	.first()
            	.attr('selected',true)
            	.trigger("liszt:updated");
			
		}
		if(expose == 'warehouses'){
			jQuery('#selectware').removeClass('nover');
			jQuery('#selectbranch').addClass('nover');
			jQuery('#selectbranch')
            	.find('option')
            	.first()
            	.attr('selected',true)
            	.trigger("liszt:updated");
		}
	}
	
	jQuery("input:radio[name='radios']").on("change", function(e){
		changeradio(e.currentTarget.value);
		
	});
	
	changeradio(jQuery("input:radio[name='radios']").val());
	///// Get branches & warehouses /////
	
	var branch = jQuery('#branch');
    var warehouse = jQuery('#warehouse');
	var concept = jQuery('#concept_id');
		
	jQuery.ajax({
        type: "POST",
        url: "{{=URL(c='branches_ajax', f='get_branches')}}",
        dataType: "json",
        success: function(results) {
        	options = "";
        	for(k in results){
	        	options += "<option value=\"" + results[k].id + "\">" + results[k].name + "</option>";
	        }
            branch	
                .html(options)
                .prepend('<option value="">Selecccionar</option>')
                .trigger("liszt:updated");
            }
    });
    branch.change( function() {
        bid = jQuery(this).find(':selected').val();
        if(bid != '') {
	        branch.siblings('div').removeClass('ellol');
        }
    });

    
    jQuery.ajax({
        type: "POST",
        url: "{{=URL(c='branches_ajax', f='get_warehouses')}}",
        dataType: "json",
        success: function(results) {
        	options = "";
        	for(k in results){
	        	options += "<option value=\"" + results[k].id + "\">" + results[k].name + "</option>";
	        }
            warehouse	
                .html(options)
                .prepend('<option value="">Selecccionar</option>')
                .trigger("liszt:updated");
            }
    });
    warehouse.change( function() {
        wid = jQuery(this).find(':selected').val();
        if(wid != '') {
	        warehouse.siblings('div').removeClass('ellol');
        }
    });


     jQuery.ajax({
        type: "POST",
        url: "{{=URL(c='common', f='get_entry_concepts')}}",
        dataType: "json",
        success: function(results) {
        	options = "";
        	for(k in results){
	        	options += "<option value=\"" + results[k].id + "\">" + results[k].name + "</option>";
	        }
            concept	
                .html(options)
                .prepend('<option value="">Selecccionar</option>')
                .trigger("liszt:updated");
            }
    });
    concept.change( function() {
        cid = jQuery(this).find(':selected').val();
        if(cid != '') {
	        concept.siblings('div').removeClass('ellol');
        }
    });

    
//////////// validate form ////////

    jQuery("#form_entries").validate({
        rules: {
            date_receipt: "required",
        },
        messages: {
            date_receipt: "Ingrese una fecha de recepción",
        }
     });
     
     jQuery('#date_receipt').change(function(){
	      jQuery('#date_receipt')
	      		.removeClass('error')
	      		.siblings('label').css('display','none');
	      		
     })	     

//////////// send form //////////// 				
    jQuery('#submit').live('click', function(e) {
        e.preventDefault();  
        valbra(bid);
        valwar(wid);
        valcon(cid);
        
        jQuery('.msgerror').hide();
        jQuery('.exists').hide();
        jQuery('.msgsuccess').hide();

        if(jQuery("#form_entries").valid() && valcon(cid) && (valbra(bid) || valwar(wid))) {
        	
        	jPrompt('Nombre del usuario:', '', '¿Quién recibió la mercancía?', function(usr) {
			if(usr) {
				jPrompt('Contraseña:', '', '¿Quién recibió la mercancía?', function(pwd) {
					if(pwd) {
						 
						 alert('You entered ' + usr + ' and ' + pwd);
						 jQuery.ajax({
			                url: "{{=URL(c='common', f='check_user')}}",
			                data: { 
			                    usr:usr,
			                    pwd:pwd
			                },
			                type: 'POST'
			             });
					
			             jQuery.ajax({
			                url: "{{=URL(c='inventory_entry_ajax', f='create_entry')}}",
			                data: { 
			                    branch:(jQuery('#branch').val() != '') ? jQuery('#branch').val() : '',
			                    warehouse:(jQuery('#warehouse').val() != '') ? jQuery('#warehouse').val() : '',
			                    reference:jQuery('#reference').val(),
			                    description:jQuery('#description').val(),
			                    concept_id:jQuery('#concept_id').val(),
			                    date_receipt:jQuery('#date_receipt').val()
			                },
			                type: 'POST',
			                success:function(data){
			                    if(data != 0 && data){
			                        
			                        //userpass();
			                        
			                        /*
			                        jQuery('.msgsuccess').fadeIn(1600, function() {
			                            jQuery('.msgsuccess').fadeOut('slow');
			                        });
			                        bid = 0;
			                        wid = 0;
			                        cid = 0;
			                        jQuery('#branch').attr('tabindex','1');
			                        jQuery('#branch_chzn').remove();
			                        jQuery('#branch').val('').removeClass('chzn-done').chosen();
			                        
			                        jQuery('#warehouse').attr('tabindex','1');
			                        jQuery('#warehouse_chzn').remove();
			                        jQuery('#warehouse').val('').removeClass('chzn-done').chosen();
			                        
			                        jQuery('#concept_id').attr('tabindex','4');
			                        jQuery('#concept_id_chzn').remove();
			                        jQuery('#concept_id').val('').removeClass('chzn-done').chosen();
			                        */
			                    }
			                    else if(data == 0) {
			                        jQuery('.exists').fadeIn(1600);
			                    }
			                    else{
			                        jQuery('.msgerror').fadeIn(1600);
			                    }
			                    jQuery('body','html',window).animate(
			                                                        {scrollTop:0}, 
			                                                        1000);
	                          }
	                	});
	                }
	            }); 
	            return false;
			}
		});
		return false;
	}
   else {
            jQuery('.msgerror').fadeIn(1600);
            jQuery('body','html',window, document).animate({scrollTop:0},1000);
        }
    });


///// Validate selects /////

    function valbra(s) {
    var bol;
    if (s != 0) {
        bol = true;
        jQuery('#branch').siblings('div').removeClass('ellol');
    } else if(s != null){
        bol = false;
        jQuery('#branch').siblings('div').addClass('ellol');
    } else{
        bol = false;
        jQuery('#branch').siblings('div').addClass('ellol');
    };
    return bol
    }
    
    function valwar(s) {
    var bol;
    if (s != 0) {
        bol = true;
        jQuery('#warehouse').siblings('div').removeClass('ellol');
    } else if(s != null){
        bol = false;
        jQuery('#warehouse').siblings('div').addClass('ellol');
    } else{
        bol = false;
        jQuery('#warehouse').siblings('div').addClass('ellol');
    };
    return bol
    }
    
    function valcon(s) {
    var bol;
    if (s != 0) {
        bol = true;
        jQuery('#concept_id').siblings('div').removeClass('ellol');
    } else if(s != null){
        bol = false;
        jQuery('#concept_id').siblings('div').addClass('ellol');
    } else{
        bol = false;
        jQuery('#concept_id').siblings('div').addClass('ellol');
    };
    return bol
    }
    
///// user & pass //////

	function userpass()
	{
		jPrompt('Nombre del usuario:', '', '¿Quién recibió la mercancía?', function(usr) {
			if(usr) {
				jPrompt('Contraseña:', '', '¿Quién recibió la mercancía?', function(pss) {
					if(pss) {
						alert('You entered ' + usr + ' and ' + pss);
					}
				});
				return false;
			}
		});
		return false;
	}

/*
	function userpass()
	{
		var user;
		var passw;
		
		var log1="demo";
		var pass1="password";
		
		password = prompt('Usuario',' ');
		login = prompt ('Contraseña:', ' ');
		
		if ((passw==pass1) && (user==log1))
		alert('Password and Login Accepted: Click OK to enter'); //this allows page to continue loading
		else
		{
		alert('Usuario o contraseña incorrectos: Presiona OK para intentarlo de nuevo');
		window.location="entry.html"; //this reloads page lockout
		}

	}
*/

</script>

</body>
</html>
{{end}}
