{{extend 'base/layout.html'}}

{{block scripts_extra}}
<script type="text/javascript" src="{{=URL('static', 'js/plugins/jquery.maskedinput.js')}}"></script>

<script type="text/javascript" src="{{=URL('static', 'js/plugins/jquery.validate.min.js')}}"></script>
<script type="text/javascript" src="{{=URL('static', 'js/plugins/chosen.jquery.min.js')}}"></script>
<script type="text/javascript" src="{{=URL('static', 'js/plugins/jquery.dataTables.min.js')}}"></script>
<script type="text/javascript" src="{{=URL('static', 'js/custom/dualselector.js')}}"></script>
<style type="text/css">
    .ellol {
        border: 1px solid red;
    }    
    .nover{display: none;}
</style>
{{end}}

{{block sidebar_menu}}
{{include 'inventory/sidebar.html'}}
{{end}}

{{block content}}
    <div class="centercontent">
    
        <div class="pageheader">
        
            <h1 class="pagetitle">{{=title}}</h1>
            
        </div><!--pageheader-->
        
        <div id="contentwrapper" class="contentwrapper">
        
        	<div id="validation" class="subcontent">
         
					<div class="notibar msgerror" style="display:none;">
                    	<a class="close"></a>
                    	<p>Ocurrió un error con los datos del formulario.</p>
                    </div>

                	<div class="notibar exists" style="display:none;">
                   		<a class="close"></a>
                    	<p>Este producto ya existe, para editarlo vaya a la sección de ver producto. </p>
                    </div>

                	<div class="notibar msgsuccess" style="display:none;">
                        <a class="close"></a>
                        <p>Se han guardado los datos del formulario.</p>
                    </div>
            	
                    <form id="form_product" class="stdform stdform2" method="post" action="">           	                        
                        <p style="height:52px; padding-top:20px;">
				              <span class="formwrapper" style="margin-left:20px;">
				                    <input type="radio" id="radio_branch" name="radios" value="true" checked="checked"/> Sucursal &nbsp; &nbsp;
				                    <input type="radio" id="radio_warehouse" name="radios"  value="false" /> Almacén &nbsp; &nbsp;
				              </span>
				        </p>
				        <p class="" style="margin-top: 1px;">
                            <label>Sucursal</label>
                            <span class="field">
                                <select id="brands" name="brands" data-placeholder="Seleccionar" class="chzn-select" style="width:350px;" tabindex="1">
                                  </select>
                            </span>
                        </p>
                        <p class="nover" id="warehousep" style="margin-top: 1px;">
                            <label>Almacén</label>
                            <span class="field">
                                <select id="warehouse" name="warehouse" data-placeholder="Seleccionar" class="chzn-select" style="width:350px;" tabindex="1">
                                  </select>
                            </span>
                        </p>	                    
                        <p class="stdformbutton">
                        	<button id="submit" class="submit radius2" tabindex="14">Guardar</button>
                        </p>
                        
                        
                    </form>
                   

            </div><!--subcontent-->     
        
        </div><!--contentwrapper-->
        
        <br clear="all" />
        
	</div><!-- centercontent -->
        
</div><!--bodywrapper-->

<script>

	jQuery('input:radio, select').uniform();
	
	var brands = jQuery('#radio_branch');
	var ware = jQuery('#radio_warehouse');
						
	function changeradio()
	{
		if(ware.parent().hasClass("checked"))
		{
			jQuery('#brands').parent().parent().parent().removeClass('nover');
			jQuery('#warehouse').parent().parent().parent().addClass('nover');
		}
		else if(brands.parent().hasClass("checked"))
		{
			jQuery('#warehouse').parent().parent().parent().removeClass('nover');
			jQuery('#brands').parent().parent().parent().addClass('nover');
		}
	}
	
	jQuery("input:radio[name='radios']").on("change", function(){
		changeradio();
	});
	
</script>

</body>
</html>
{{end}}
