<li id="sidebar_index"><a href="{{=URL(c='inventory', f='index')}}" class="typo">Consultar</a></li>
<li id="sidebar_entries"><a href="{{=URL(c='inventory', f='entries')}}" class="typo">Entradas</a></li>
<li id="sidebar_discounts"><a href="{{=URL(c='inventory', f='discounts')}}" class="typo">Salidas</a></li>
<li id="sidebar_tranfers"><a href="{{=URL(c='inventory', f='tranfers')}}" class="typo">Traspasos</a></li>
<li id="sidebar_view_tranfers"><a href="{{=URL(c='inventory', f='view_transfer')}}" class="typo">Ver traspasos</a></li>