{{extend 'base/layout.html'}}

{{block scripts_extra}}	
<script type="text/javascript" src="{{=URL('static', 'js/plugins/jquery.validate.min.js')}}"></script>
<script type="text/javascript" src="{{=URL('static', 'js/plugins/chosen.jquery.min.js')}}"></script>
<script type="text/javascript" src="{{=URL('static', 'js/plugins/notifications.js')}}"></script>
<style type="text/css">
    .ellol {
        border: 1px solid red;
    }    
</style>
{{end}}

{{block sidebar_menu}}
{{include 'clients/sidebar.html'}}
{{end}}

{{block content}}
    <div class="centercontent">
    
        <div class="pageheader">
        
            <h1 class="pagetitle">{{=title}}</h1>
            
        </div><!--pageheader-->
        
        <div id="contentwrapper" class="contentwrapper">
            
                <div id="validation" class="subcontent">
                
                <div class="contenttitle2">
                        <h3>Editar Cliente</h3>
                </div><!--contenttitle-->

                {{include 'base/notifications.html'}}
                
                    <form id="form_cliente" class="stdform stdform2" method="POST" action="">
                        <p>
                            <label>Nombre(s) *</label>
                            <span class="field"><input type="text" name="first_name" id="first_name" class="smallinput" tabindex="1" required/></span>
                        </p>
                        
                        <p>
                            <label>Apellidos *</label>
                            <span class="field"><input type="text" name="last_name" id="last_name" class="smallinput" tabindex="2" required/></span>
                        </p>
                        
                        <p>
                            <label>Teléfono</label>
                            <span class="field"><input type="text" name="phone" id="phone" class="smallinput" tabindex="3"/></span>
                        </p>
                        
                        <p>
                            <label>Celular</label>
                            <span class="field"><input type="text" name="mobile" id="mobile" class="smallinput" tabindex="4"/></span>
                        </p>
                        
                        <p style="margin-top: 1px;">
                            <label>Estado</label>
                            <span class="field">
                                <select id="states" name="states" data-placeholder="Seleccionar" class="chzn-select" style="width:350px;" tabindex="5">
                                  </select>
                            </span>
                        </p>
                        
                        <p style="margin-top: 1px;">
                            <label>Municipio</label>
                            <span id="municipality_container"class="field">
                            <select name="municipality" id="municipality" data-placeholder="Seleccionar" class="chzn-select" style="width:350px;" tabindex="6">
                            </select>
                            </span>
                        </p>

                        <p style="margin-top: 1px;">
                            <label>Población</label>
                            <span class="field" id="locality_container">
                            <select name="locality" id="locality" data-placeholder="Seleccionar" class="chzn-select" style="width:350px;" tabindex="7">
                            </select>
                            </span>
                        </p>
                                                
                        <p>
                            <label>Dirección</label>
                            <span class="field"><input type="text" name="address" id="address" class="smallinput" tabindex="8" /></span>
                        </p>
                        
                        <p>
                            <label>Colonia</label>
                            <span class="field"><input type="text" name="suburb" id="suburb" class="smallinput" tabindex="9"/></span>
                        </p>
                        
                        <p style="margin-top: 1px;">
                            <label>Código postal</label>
                            <span class="field"><input type="text" name="zip_code" id="zip_code" class="smallinput" maxlength="5" tabindex="10"/></span>
                        </p>
                        
                        <p>
                            <label>R.F.C. *</label>
                            <span class="field"><input type="text" name="rfc" id="rfc" class="smallinput" maxlength="13" tabindex="11"/></span>
                        </p>
                        
                        <p class="stdformbutton">
                            <button id="submit" class="submit radius2" tabindex="10">Guardar </button>
                        </p>
                    </form>

            </div><!--subcontent-->      
        
        </div><!--contentwrapper-->
        
        <br clear="all" />
        
    </div><!-- centercontent -->
    
    
</div><!--bodywrapper-->

<script type="text/javascript">

//////////// Ajax for selects ////////////
    jQuery(".chzn-select").chosen();

    var state = jQuery('#states'),
        municipality = jQuery('#municipality'),
        locality = jQuery('#locality');
        s = '',
        m = '',
        l = '';

//////////// get info ////////////
    
      jQuery.ajax({
        url: "{{=URL(c='clients_ajax', f='get_client_information')}}",
        data: { id: {{=request.vars.id}} },
        type: "POST",
        dataType:"json",
        success:function(data){
            //console.log(data);
            jQuery('#first_name').val(data.clients['first_name']);
            jQuery('#last_name').val(data.clients['last_name']);
            jQuery('#phone').val(data.clients['phone']);
            jQuery('#mobile').val(data.clients['mobile']);
            jQuery('#address').val(data.clients['address']);
            jQuery('#suburb').val(data.clients['suburb']);
            jQuery('#zip_code').val(data.clients['zip_code']);
            jQuery('#rfc').val(data.clients['rfc']);
            s = data.clients['state_id'];
            m = data.clients['municipality_id'];
            l = data.clients['locality_id'];
            selectS(s);
            selectM(s, m);
            selectL(m, l); 
        }
    });

//////////// get municipalities ////////////
    state.change( function() {
        var id = jQuery(this).find(':selected').val();
        if(id != '') {
            jQuery.ajax({
                type: "POST",
                url: "{{=URL(c='common', f='get_municipalities')}}",
                data: {id: id},
                success: function(results) {
                    municipality
                        .html(results)
                        .prepend('<option value="">Seleccionar</option>')
                        .trigger("liszt:updated");
                    locality
                        .html('')
                        .prepend('<option value="">Seleccionar</option>')
                        .trigger("liszt:updated");
                }
            });
        }
        else {
            municipality
                .html('')
                .prepend('<option value="">Seleccionar</option>')
                .trigger("liszt:updated");
            locality
                .html('')
                .prepend('<option value="">Seleccionar</option>')
                .trigger("liszt:updated");
        }
    });

//////////// get localities ////////////
    municipality.change( function() {
        var id = jQuery(this).find(':selected').val();
        if(id != '') {
            jQuery.ajax({
                type: "POST",
                data: {municipality_id: id},
                url: "{{=URL(c='common', f='get_localities')}}",
                success: function(results) {
                    locality
                        .html(results)
                        .prepend('<option value="">Seleccionar</option>')
                        .trigger("liszt:updated");
                }
            });
        }
        else {
            locality
                .html('')
                .prepend('<option value="">Seleccionar</option>')
                .trigger("liszt:updated");
        }
    });

//////////// validate form ////////////
    jQuery("#form_cliente").validate({
            rules: {
                first_name: "required",
                last_name: "required",
                zip_code: {
                    required: false,
                    digits: true,
                    minlength: 5
                },
                rfc: {
                    minlength: 13,
                    maxlength:13,
                    required: true
                }
            },
            messages: {
                first_name: "Ingrese el o los nombres de el cliente",
                last_name: "Ingrese el o los apellidos de el cliente",
                'zip_code': { minlength: "Este campo debe tener 5 caracteres.", digits: "ingrese unicamente números" },
                'rfc': { required: "debe ingresar un R.F.C.", minlength: "debe ingresar un R.F.C válido de 13 caracteres" }
            }
        });

//////////// send form ////////////
    jQuery('#submit').live('click', function(e) {
        e.preventDefault();
        var sid = jQuery('#states').val(),
            mid = (jQuery('#municipality').val() == null) ? '': jQuery('#municipality').val(),
            lid = (jQuery('#locality').val() == null) ? '': jQuery('#locality').val(),
            com = jQuery('#company').val();
           
        Messages.hideAll();

        if(jQuery("#form_cliente").valid()) {
             jQuery.ajax({
                url: "{{=URL(c='clients_ajax', f='update_client')}}",
                data: { 
                    first_name:jQuery('#first_name').val(),
                    last_name:jQuery('#last_name').val(),
                    phone:jQuery('#phone').val(),
                    mobile:jQuery('#mobile').val(),
                    state_id: sid,
                    municipality_id: mid,
                    locality_id: lid,
                    address:jQuery('#address').val(),
                    suburb:jQuery('#suburb').val(),
                    zip_code:jQuery('#zip_code').val(),
                    rfc:jQuery('#rfc').val(),     
                },
                type: 'POST',
                success:function(data){
                    if(data != 0 && data){
                        msg.successWR("", "{{=URL(c='clients', f='index')}}");
                        sid = 0;
                        mid = 0;
                        lid = 0;
                       
                    }
                    else if(data == 0) {
                        Messages.showM('.exists', 'Este cliente ya existe, para editarlo vaya a la sección de ver cliente.');
                    }
                    else{
                        Messages.showM('.msgerror', 'Ocurrió un error con los datos del formulario.');
                    }
                }
            }); 
        } else {
            Messages.showM('.msgerror', 'Ocurrió un error con los datos del formulario.');
        }
    });

    function selectS(id) {
        jQuery.ajax({
            type: "POST",
            url: "{{=URL(c='common', f='get_states')}}",
            success: function(results) {
                state
                    .html(results)
                    .prepend('<option value="">Seleccionar</option>')
                    .trigger("liszt:updated");
                },
            complete: function() {
                state
                    .find('option[value='+id+']').attr('selected',true)
                    .trigger("liszt:updated");
            }
        });

    }

    function selectM(v, id) {
        jQuery.ajax({
            type: "POST",
            url: "{{=URL(c='common', f='get_municipalities')}}",
            data: {id: v},
            success: function(results) {
                municipality
                    .html(results)
                    .prepend('<option value="">Seleccionar</option>')
                    .trigger("liszt:updated");
            },
            complete: function() {
                municipality
                    .find('option[value='+id+']').attr('selected',true)
                    .trigger("liszt:updated");
            }
        });
    }

    function selectL(v, id) {
        jQuery.ajax({
                type: "POST",
                data: {municipality_id: v},
                url: "{{=URL(c='common', f='get_localities')}}",
                success: function(results) {
                    locality
                        .html(results)
                        .prepend('<option value="">Seleccionar</option>')
                        .trigger("liszt:updated");
                },
                complete: function() {
                    locality
                        .find('option[value='+id+']').attr('selected',true)
                        .trigger("liszt:updated");
            }
        });
    }
    
</script>

</body>
</html>
{{end}}
