

/***** Screen 960px *****/

body 									{ margin:0; padding:0; background: #FFF url("../images/bg2.png"); font: 12px 'Maven Pro', Helvetica; color:#333; -webkit-font-smoothing:antialiased; -webkit-text-size-adjust:none; background-repeat: repeat; }

.titulo h1								{ font-size:36px; }

* { outline: none; }

#inputs input:-webkit-autofill {
	background: #f1f1f1 url(../images/login-sprite.png) no-repeat !important;
	color: #4A8BF4 !important;
}

/*** Login ***/

.vertical
{
    position:absolute;  
    width:700px;  
    height:500px;  
    top:50%;  
    left:50%;  
    margin-top:-250px;  
    margin-left:-450px;
}

form :focus {
  outline: none;
}

	
.input_usr, .input_pwd {  /*formato para los inputs*/
    font-size: 14px;
    color: #4A8BF4;
	background: #f1f1f1 url(../images/login-sprite.png) no-repeat;
	padding: 15px 15px 15px 50px;
	margin: 0 0 10px 0;
	width: 353px;
	border: 1px solid #ccc;
	border-radius: 5px;
	-o-border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	box-shadow: 0 1px 1px #ccc inset, 0 1px 0 #fff;
	-o-box-shadow: 0 1px 1px #ccc inset, 0 1px 0 #fff;
	-moz-box-shadow: 0 1px 1px #ccc inset, 0 1px 0 #fff;
	-webkit-box-shadow: 0 1px 1px #ccc inset, 0 1px 0 #fff;	
}

.input_usr:focus, .input_pwd:focus  { /*formato cuando el input esta seleccionado*/
	background-color: #fff;
	border: 1px solid #4A8BF4;
	outline: none;
	box-shadow: 0 0 0 1px #4A8BF4 inset;
	-o-box-shadow: 0 0 0 1px #4A8BF4 inset;
	-moz-box-shadow: 0 0 0 1px #4A8BF4 inset;
    -webkit-box-shadow: 0 0 0 1px #4A8BF4 inset;    
	color: #4A8BF4;
}

.usr_error, .pwd_error {
	font-size: 14px;
    color: #4A8BF4;
	background: #f1f1f1 url(../images/login-sprite.png) no-repeat;
	padding: 15px 15px 15px 50px;
	margin: 0 0 10px 0;
	width: 353px;
	border-radius: 5px;
	-o-border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border: 1px solid #e84141;
	box-shadow: 0 0 0 1px #e84141 inset;
	-o-box-shadow: 0 0 0 1px #e84141 inset;
	-moz-box-shadow: 0 0 0 1px #e84141 inset;
	-webkit-box-shadow: 0 0 0 1px #e84141 inset;    
}

.error_0 {
    border: 1px solid #e84141;
    box-shadow: 0 0 0 1px #e84141 inset;
    -o-box-shadow: 0 0 0 1px #e84141 inset;
    -moz-box-shadow: 0 0 0 1px #e84141 inset;
    -webkit-box-shadow: 0 0 0 1px #e84141 inset;
}

.error_n {
    border: 1px solid #e8b31c;
    box-shadow: 0 0 0 1px #e8b31c inset;
    -o-box-shadow: 0 0 0 1px #e8b31c inset;
    -moz-box-shadow: 0 0 0 1px #e8b31c inset;
    -webkit-box-shadow: 0 0 0 1px #e8b31c inset;
}

/*mostrar el bg segun posicion*/
.input_usr, .usr_error 									{ background-position: 15px -2px !important;  }
.input_pwd, .pwd_error 									{ background-position: 15px -52px !important; }

#actions 								{ margin: 25px 0 0 0; }

#actions a 								{ color: #3151A2; float: right; line-height: 5px; margin-left: 20px; }

#submit {
	width: 200px;
	height: 40px;	
	background: #4A8BF4;
	border-radius: 3px;
	-o-border-radius: 3px;
	-moz-border-radius: 3px;
    -webkit-border-radius: 3px;    
    text-shadow: 0px 1px 0 rgba(168,162,162,0.5);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0.3), 0 1px 0 rgba(255, 255, 255, 0.3) inset;
    -o-box-shadow: 0 0 1px rgba(0, 0, 0, 0.3), 0 1px 0 rgba(255, 255, 255, 0.3) inset;
    -moz-box-shadow: 0 0 1px rgba(0, 0, 0, 0.3), 0 1px 0 rgba(255, 255, 255, 0.3) inset;
    -webkit-box-shadow: 0 0 1px rgba(0, 0, 0, 0.3), 0 1px 0 rgba(255, 255, 255, 0.3) inset;        
	border: 0px solid #4A8BF4;	
	color: #FFF;
	font-size: 16px;
	font-weight: bolder;
	outline: none;
}
#submit:focus, #submit:active 							{ outline: none; }

#submit:hover {
	background: -moz-linear-gradient(top, rgba(73,155,234,1) 0%, rgba(32,124,229,1) 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(73,155,234,1)), color-stop(100%,rgba(32,124,229,1)));
	background: -webkit-linear-gradient(top, rgba(73,155,234,1) 0%,rgba(32,124,229,1) 100%);
	background: -o-linear-gradient(top, rgba(73,155,234,1) 0%,rgba(32,124,229,1) 100%);
	background: -ms-linear-gradient(top, rgba(73,155,234,1) 0%,rgba(32,124,229,1) 100%);
	background: linear-gradient(top, rgba(73,155,234,1) 0%,rgba(32,124,229,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#499bea', endColorstr='#207ce5',GradientType=0 );
	border-radius: 3px;
	-o-border-radius: 3px;
	-moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    text-shadow: 0px 1px 0 rgba(168,162,162,0.5);
    -o-box-shadow: 0 0 10px rgba(0, 0, 0, 0.3), 0 1px 0 rgba(255, 255, 255, 0.3) inset;
    -moz-box-shadow: 0 0 10px rgba(0, 0, 0, 0.3), 0 1px 0 rgba(255, 255, 255, 0.3) inset;
    -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.3), 0 1px 0 rgba(255, 255, 255, 0.3) inset;
    cursor: pointer;
}

/*** Notificaciones ***/

#fondo {
	display: none;
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0;
	left: 0;
	z-index:999;
}

#mensaje {
    position: absolute;
	font-size: 18px;
	width: 300px; 
	height: 110px; 
	padding-top: 40px; 
	margin: 0 auto;
    background-color: #FFF;
    display: none;
    z-index: 99999;
    border-radius: 3px;
    -o-border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    box-shadow: 0 0 100px rgba(0, 0, 0, 0.3), 0 1px 0 rgba(255, 255, 255, 0.3) inset;
    -o-box-shadow: 0 0 100px rgba(0, 0, 0, 0.3), 0 1px 0 rgba(255, 255, 255, 0.3) inset;
    -moz-box-shadow: 0 0 100px rgba(0, 0, 0, 0.3), 0 1px 0 rgba(255, 255, 255, 0.3) inset;
    -webkit-box-shadow: 0 0 100px rgba(0, 0, 0, 0.3), 0 1px 0 rgba(255, 255, 255, 0.3) inset;        
    color: #454545;
}

div.flash {
    position: fixed;
    font-size: 18px;
    width: 200px;
    height: auto;
    padding: 20px 30px 20px 30px;
    margin: 0 auto;;
    display: none;
    z-index: 99999;
    border-radius: 3px;
    -o-border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border: 1px solid #ccc;
    background: #ffffff; /* Old browsers */
    background: -moz-linear-gradient(top,  #ffffff 0%, #e5e5e5 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#e5e5e5)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #ffffff 0%,#e5e5e5 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #ffffff 0%,#e5e5e5 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #ffffff 0%,#e5e5e5 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #ffffff 0%,#e5e5e5 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e5e5e5',GradientType=0 ); /* IE6-9 */

    color: #454545;
}

div.flash:hover { cursor: pointer; }

div.flash .img_c {
    background: url(../images/stop32.png);
    width: 29px;
    height: 29px;
    float: left;
    margin: 10% auto;
}

div.captcha                             { display: none; }

.titulo h3								{ font-size:36px; color:#ACABAB; }
.pie 									{ font-size:14px; color:#999999; }


/*** Proveedores ***/

#form_pro { line-height: 1.5em; }

none#form_pro input:required {
    background-image: url('../images/required.png');
    background-position: right center;
    background-repeat: no-repeat;
}

li div { margin-left: 150px; }


input:blur:required {
    background: #FFF url('../images/wrong.png');
    background-position: right center;
    background-repeat: no-repeat;
}

select { width: 210px; height: 25px;}

#form_pro input:required:valid {
    background-image: url('../images/right.png');
    background-position: right center;
    background-repeat: no-repeat;
}

#form_prod li {
    margin-bottom: 20px;
}

.iptn {
    font-size: 12px;
    color: #4A8BF4;
    padding: 5px;
    margin: 0 0 8px 0;
    width: 200px;
    border: 1px solid #ccc;
    border-radius: 5px;
    -o-border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    box-shadow: 0 1px 1px #ccc inset, 0 1px 0 #fff;
    -o-box-shadow: 0 1px 1px #ccc inset, 0 1px 0 #fff;
    -moz-box-shadow: 0 1px 1px #ccc inset, 0 1px 0 #fff;
    -webkit-box-shadow: 0 1px 1px #ccc inset, 0 1px 0 #fff;
    float: right;
}

.input_error {
    font-size: 12px;
    color: #4A8BF4;
    background: #f1f1f1;
    padding: 5px;
    margin: 0 0 8px 0;
    width: 200px;
    border: 1px solid #ccc;
    border-radius: 5px;
    -o-border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border: 1px solid #e84141;
    box-shadow: 0 0 0 1px #e84141 inset;
    -o-box-shadow: 0 0 0 1px #e84141 inset;
    -moz-box-shadow: 0 0 0 1px #e84141 inset;
    -webkit-box-shadow: 0 0 0 1px #e84141 inset;
    float: right;
    margin-right: 250px;
}

.main_content div {
    height: auto;
    margin-left: 0px;
}

#menu_opt {
    margin: 0px 35%;
    width: inherit;
    height: 30px;
    width: 400px;
}

#menu_opt ul {
    margin: 0px;
    list-style: none;
}

#menu_opt ul li {
    float: left;
    margin: 0px 10px 0px 0px;
}

.main_content {
    width: inherit;
    height: auto;
    overflow: hidden;
}

.main_content ul {
    width: 10000px;
    list-style: none;
}

.main_content li {
    margin-top: 10px;
    float: left;
    width: 620px;
    opacity: 0
}

.main_content li:first-child {
    opacity: 1;
}

/***** Screen Bigger than 960px *****/
@media only screen and (min-width:1200px) {

.example								{ margin:0; padding:0; }

}



/***** Tablet (Smaller than 959px) *****/
@media only screen and (min-width: 768px) and (max-width: 959px) {
	
.example								{ margin:0; padding:0; }	

}



/***** Phone (portrait 300px) *****/
@media only screen and (max-width: 767px) {

.example								{ margin:0; padding:0; }

}


	
/***** Phone (landscape 420px) *****/
@media only screen and (min-width: 480px) and (max-width: 767px) {
	
.example								{ margin:0; padding:0; }

}



/***** Retina *****/
@media only screen and (-webkit-min-device-pixel-ratio: 2) {

.example								{ margin:0; padding:0; }

}
