<script type="text/javascript">
ajax_token()
jQuery('#submit').live('click', function(e) {
    e.preventDefault();
    var usr = jQuery('#usr').val(),
        pwd = jQuery('#pwd').val();
        tkn = jQuery('#tkn').val();
        
    jQuery.ajax({
        url: '{{=URL('user', 'login')}}',
        data: { 
            usr: usr, 
            pwd: pwd,
            tkn: tkn
        },
        type: 'POST',
        success:function(data){
            if(data == 'true') {
                window.location = "{{=URL(c='default')}}";
            }
            if (data == 'Invalid credentials') {
                console.log('bad');
                jQuery('.nousername').fadeIn();
                jQuery('.nopassword').hide();
                ajax_token()
            } else {
                jQuery('.nousername').hide();
                jQuery('.nopassword').hide();
                ajax_token()
            }
        }
    }); 

    
});

function ajax_token(){
	var tkn = jQuery('#tkn');
    jQuery.ajax({
        type: 'POST',
        url: '{{=URL('user', 'ajax_token')}}',
        success: function(data){
            tkn.val(data);
        }
    });
}
</script>