{{extend 'base/layout.html'}}
  
{{block scripts_extra}}
<script type="text/javascript" src="{{=URL('static', 'js/plugins/jquery.dataTables.min.js')}}"></script>
<script type="text/javascript" src="{{=URL('static', 'js/custom/tables.js')}}"></script>

<script type="text/javascript" src="{{=URL('static', 'js/custom/forms.js')}}"></script>
<script type="text/javascript" src="{{=URL('static', 'js/plugins/jquery.tagsinput.min.js')}}"></script>
<script type="text/javascript" src="{{=URL('static', 'js/plugins/charCount.js')}}"></script>
<script type="text/javascript" src="{{=URL('static', 'js/plugins/ui.spinner.min.js')}}"></script>
<script type="text/javascript" src="{{=URL('static', 'js/plugins/chosen.jquery.min.js')}}"></script>
<script type="text/javascript" src="{{=URL('static', 'js/plugins/jquery.validate.min.js')}}"></script>
{{end}}

{{block sidebar_menu}}
{{include 'branches/sidebar.html'}}
{{end}}

{{block content}}
    <div class="centercontent">
    
        <div class="pageheader">
        
            <h1 class="pagetitle">{{=title}}</h1>
            
        </div><!--pageheader-->
        
        <div id="contentwrapper" class="contentwrapper">
        
                <div id="basicform" class="subcontent">
                                
                    <div class="contenttitle2">
                        <h3>Selecciona una sucursal</h3>
                    </div><!--contenttitle-->

                    <form class="stdform" action="" method="post">
                    	
                    <!-- <ul class="buttonlist" style="float:right;">
                        <li style="display:none;"><button class="stdbtn btn_blue">Form Button</button></li>
                        <li><button id="edit" class="stdbtn btn_orange">Editar</button></li>
                        <li><button id="btnenable" class="stdbtn btn_red" onclick='cambiarClase(); return false;'>Deshabilitar</button></li>
                   </ul> -->
                    	
                        <p>	
                            <span class="formwrapper" style="margin-left:0px;">
                            	  <select id="branches_select" data-placeholder="Seleccionar" class="chzn-select" style="width:350px;" tabindex="2">
                                </select>
                            </span>
                        </p>
                        
                         <p>
                            <span class="formwrapper" style="margin-left:0px; margin-top:-20px;">
                            	<input type="radio" name="filtervendors" value="TRUE" onclick="ajaxFilter(this.value)" /> Habilitadas &nbsp; &nbsp;
                            	<input type="radio" name="filtervendors"  value="FALSE" onclick="ajaxFilter(this.value)"/> Deshabilitadas &nbsp; &nbsp;
                                <input type="radio" name="filtervendors" value="ANY" onclick="ajaxFilter(this.value)"/> Todas &nbsp; &nbsp;
                            </span>
                        </p>
                        
                    </form>

            </div><!--subcontent-->	   
            
            <div class="one_half" style="margin-bottom:40px;">
              
              <table cellpadding="0" cellspacing="0" class="table invoice">
               	  <tr>
                   	  <td width="30%">Nombre:</td>
                      <td width="70%"><strong id="name"></strong></td>
                  </tr>
                  <tr>
                   	  <td>Colonia:</td>
                      <td><strong id="suburb"></strong></td>
                  </tr>
               	  <tr>
               	    <td>Dirección:</td>
               	    <td><strong id="address"></strong></td>
           	      </tr>
                  <tr>
                	  <td>Estado:</td>
                	  <td><strong id="state"></strong></td>
              	  </tr>
              	  <tr>
                	  <td>Municipio:</td>
                	  <td><strong id="municipality"></strong></td>
              	  </tr>
              	  <tr>
                	  <td>Ciudad:</td>
                	  <td><strong id="locality"></strong></td>
              	  </tr>
              	  <tr>
               	    <td>Código postal:</td>
               	    <td><strong id="zip_code"></strong></td>
           	      </tr>
                  
              </table>
            </div><!--one_half-->
            
			<div class="one_half last" style="margin-bottom:40px;">
           
              <table cellpadding="0" cellspacing="0" class="table invoice">
              	  <tr>
                	  <td width="30%">Razón social:</td>
                	  <td width="70%"><strong id="corporate"></strong></td>
              	  </tr>
              	  <tr>
                	  <td>RFC:</td>
                	  <td><strong id="rfc"></strong></td>
              	  </tr>
              	  <tr>
                	  <td>Regimen fiscal:</td>
                	  <td><strong id="tax_regime"></strong></td>
              	  </tr>
              </table>
            </div><!--one_half-->
            
            			<div class="one_half last" style="margin-bottom:40px;">
           
              <table cellpadding="0" cellspacing="0" class="table invoice" style="margin-top:-4px;">
              	  <tr>
                   	  <td  width="30%">Estatus:</td>
                      <td  width="70%">
                        <input type="checkbox" name="status" disabled>
                        <span id="resp"></span>
                      </td>
                  </tr>
              </table>
            </div><!--one_half-->
            
            <a href="#" id="ev" data-id="" style="float:right;">
                <span class="stdbtn">Editar</span>
              </a>
            
            <br clear="all"/> 
        </div><!--contentwrapper-->
        
        <br clear="all" />
        
	</div><!-- centercontent -->   
</div><!--bodywrapper-->  
    
<script>
var branches_select = jQuery('#branches_select'),
    id = 0;

////// get active vendors //////
ajaxFilter('TRUE'); 

function ajaxFilter(who) {
    //console.log(which);
    cleanFields();

    jQuery.ajax({ 
        url: "{{=URL(c='branches_ajax', f='get_branches')}}",
        type: 'POST',
        data: { query: who },          
        success: function (data) {
          jQuery('#branches_select')
            .html('')
            .append(data)
            .prepend('<option value="lol">Seleccionar</option>')
            .trigger("liszt:updated");
          }
    });
  }

branches_select.change( function() {
  ////clean fields
  cleanFields();

  id = jQuery(this).find(':selected').val();

  if(id != '') {
    var name = jQuery('#name'),
    	suburb = jQuery('#suburb'),
        address = jQuery('#address'),
        state = jQuery('#state'),
        municipality = jQuery('#municipality'),
        locality = jQuery('#locality'),
        zip_code = jQuery('#zip_code'),
        
        corporate = jQuery('#corporate'),
        rfc = jQuery('#rfc'),
        tax_regime = jQuery('#tax_regime'),
        
        status = jQuery('input[name=status]'),
        resp = jQuery('span#resp');
        resp.html('');

    //console.log(id);
    //insert here an ajax function and shit
    jQuery.ajax({ 
      url: "{{=URL(c='branches_ajax', f='get_branch_information')}}",
      type: "POST",
      data: { id: id }, 
      dataType:"json",
      success: function (data) {
        //console.log(data);
        //receive something like data = {"name":"name","state":"state"}
        name.html(data.branches['name']);
        suburb.html(data.branches['suburb'])
        address.html(data.branches['address']);
        state.html(data.states['name']);
        municipality.html(data.municipalities['name']);
        locality.html(data.localities['name']);
        zip_code.html(data.branches['zip_code']);
        
        corporate.html(data.branches['corporate']);
        rfc.html(data.branches['rfc']);
        tax_regime.html(data.branches['tax_regime']);

        //{{=URL(c='vendors', f='update', vars=dict(id='"+data.vendors.id+"'))}}
        jQuery('#ev')
    .attr('href', "/vendors/update?id="+data.vendors.id+"&s="+data.vendors['state_id']+"&m="+data.vendors['municipality_id']+"&l="+data.vendors['locality_id']);
        

        status.val(id).removeAttr('disabled');
        status.parent().parent().removeClass('disabled'); 

        if (data.vendors['status'] == true) {
          status.parent().addClass('checked');
          resp.html('Activado.');
        } else{
          status.parent().removeClass('checked');
          resp.html('Desactivado.');
        };
        
      }
    });     
  }

});

jQuery('input[name=status]').live('click', function() {
  var i = jQuery(this).val(),
      resp = jQuery('span#resp');
  //ajax
  if (i != 0) {
    jQuery.ajax({ 
      url: '', 
      type: 'POST',         
      data: { i: i }, 
      success: function (data) {
        //data = Activado o Desactivado
        resp.html('algo');
      }
    }); 
  }
});

function cleanFields() {
  var name = jQuery('#name'),
      address = jQuery('#address'),
      suburb = jQuery('suburb'),
      state = jQuery('#state'),
      municipality = jQuery('#municipality'),
      locality = jQuery('#locality'),
      zip_code = jQuery('#zip_code'),
      
      corporate = jQuery('#corporate'),
      rfc = jQuery('#rfc'),
      tax_regime = jQuery('#tax_regime'),
      
      status = jQuery('input[name=status]'),
      resp = jQuery('span#resp');

      status.val('').attr('disabled',true);
      status
        .parent()
          .removeClass('checked')
          .parent()
            .addClass('disabled');
      resp.html('');

  var elements = [name, address, suburb, state, municipality, locality, zip_code, 
                  corporate ,rfc, tax_regime];

  for(var e in elements) {
    elements[e].html('');
  }
}

////// edit buttons //////



</script>

</body>

</html>
{{end}}

