{{extend 'base/layout.html'}}

{{block scripts_extra}}
<script type="text/javascript" src="{{=URL('static', 'js/plugins/jquery.validate.min.js')}}"></script>	
<script type="text/javascript" src="{{=URL('static', 'js/plugins/jquery.tagsinput.min.js')}}"></script>
<script type="text/javascript" src="{{=URL('static', 'js/plugins/charCount.js')}}"></script>
<script type="text/javascript" src="{{=URL('static', 'js/plugins/ui.spinner.min.js')}}"></script>
<script type="text/javascript" src="{{=URL('static', 'js/plugins/chosen.jquery.min.js')}}"></script>	
{{end}}

{{block sidebar_menu}}
{{include 'branches/sidebar.html'}}
{{end}}

{{block content}}
    <div class="centercontent">
    
        <div class="pageheader">
        
            <h1 class="pagetitle">{{=title}}</h1>
            
        </div><!--pageheader-->
        
        <div id="contentwrapper" class="contentwrapper">
        
        	<div id="validation" class="subcontent">
            	
            		<div class="contenttitle2">
                        <h3>Nueva sucursal</h3>
                    </div><!--contenttitle-->
            				
            		<div class="notibar msgerror" style="display:none;">
                    	<a class="close"></a>
                    	<p>Ocurrió un error con los datos del formulario.</p>
                    </div>

                    <div class="notibar msgsuccess" style="display:none;">
                        <a class="close"></a>
                        <p>Se han guardado los datos del formulario.</p>
                    </div>		
            						
                    <form id="form_branch_office" class="stdform stdform2" method="post" action="">
                    	
	                    <p>
	                       	<label>Nombre</label>
	                        <span class="field"><input type="text" name="name" id="name" class="smallinput" tabindex="1"/></span>
	                    </p>
	                    
	                    <div class="contenttitle2">
                        <h3>Domicilio</h3>
                        </div>  
	                     
	                    <p style="border-top: 1px #ddd solid;">
	                       	<label>Dirección</label>
	                        <span class="field"><input type="text" name="address" id="address" class="smallinput" tabindex="2"/></span>
	                    </p>
	                    <p>
	                       	<label>Colonia</label>
	                        <span class="field"><input type="text" name="colony" id="colony" class="smallinput" tabindex="3"/></span>
	                    </p>
	                    <p style="margin-top: 1px;">
                            <label>Estado</label>
                            <span class="field">
                                <!-- <select name="states" id="states">
                                </select> -->
                                <select id="states" name="states" data-placeholder="Seleccionar" class="chzn-select" style="width:350px;" tabindex="4">
                                  </select>
                            </span>
                        </p>
                        
                        <p style="margin-top: 1px;">
                            <label>Municipio</label>
                            <span id="municipality_container"class="field">
                            <select name="municipality" id="municipality" data-placeholder="Seleccionar" class="chzn-select" style="width:350px;" tabindex="5">
                            </select>
                            </span>
                        </p>

                        <p style="margin-top: 1px;">
                            <label>Población</label>
                            <span class="field" id="locality_container">
                            <select name="locality" id="locality" data-placeholder="Seleccionar" class="chzn-select" style="width:350px;" tabindex="6">
                            </select>
                            </span>
                        </p>
 	                    <p style="margin-top: 1px;">
                            <label>Código postal</label>
                            <span class="field"><input type="text" name="zip_code" id="zip_code" class="smallinput" maxlength="5" tabindex="7"/></span>
                        </p>
	                    
	                    <div class="contenttitle2">
                        <h3>Información fiscal</h3>
                        </div> 
                        
                        <p  style="border-top: 1px #ddd solid;">
	                       	<label>Razón social</label>
	                        <span class="field"><input type="text" name="corporate" id="corporate" class="smallinput" tabindex="8"/></span>
	                    </p>
	                    <p>
	                       	<label>R.F.C.</label>
	                        <span class="field"><input type="text" name="rfc" id="rfc" class="smallinput" tabindex="9"/></span>
	                    </p>
	                    <p>
	                       	<label>Regimen fiscal</label>
	                        <span class="field"><input type="text" name="tax_regime" id="tax_regime" class="smallinput" tabindex="10"/></span>
	                    </p>
                        
	                    <p class="stdformbutton">
                        	<button id="submit" class="submit radius2">Guardar</button>
                        </p>
                    </form>

            </div><!--subcontent-->     
        
        </div><!--contentwrapper-->
        
        <br clear="all" />
        
	</div><!-- centercontent -->   
    
</div><!--bodywrapper-->

<script type="text/javascript">
    //Ajax for selects
    jQuery(".chzn-select").chosen({allow_single_deselect:true});
    
    var states = jQuery('#states'),
        municipality = jQuery('#municipality'),
        locality = jQuery('#locality');

        jQuery.ajax({
            type: "POST",
            url: "{{=URL(c='common', f='get_states')}}",
            success: function(results) {
                states
                    .html(results)
                    .prepend('<option value="">Selecccionar</option>')
                    .trigger("liszt:updated");
                }
        });

    states.change( function() {
        var id = jQuery(this).find(':selected').val();
        if(id != '') {
            jQuery.ajax({
                type: "POST",
                url: "{{=URL(c='common', f='get_municipalities')}}",
                data: {id: id},
                success: function(results) {
                    municipality
                            .html(results)
                            .prepend('<option value="">Selecccionar</option>')
                            .trigger("liszt:updated");
                }
            });
        }
        else {
            municipality
                    .html('')
                    .prepend('<option value="">Selecccionar</option>')
                    .trigger("liszt:updated");
            locality
                    .html('')
                    .prepend('<option value="">Selecccionar</option>')
                    .trigger("liszt:updated");
        }
    });

    municipality.change( function() {
        var id = jQuery(this).find(':selected').val();
        if(id != '') {
            jQuery.ajax({
                type: "POST",
                data: {municipality_id: id},
                url: "{{=URL(c='common', f='get_localities')}}",
                success: function(results) {
                    locality
                            .html(results)
                            .prepend('<option value="">Selecccionar</option>')
                            .trigger("liszt:updated");
                }
            });
        }
        else {
            locality
                    .html('')
                    .prepend('<option value="">Selecccionar</option>')
                    .trigger("liszt:updated");
        }
    });

    jQuery("#form_branch_office").validate({
            rules: {
                name: "required",
                address : "required",
                colony : "required",
                states : "required",
                municipality : "required",
                locality : "required",
                zip_code: {
                    required: false,
                    digits: true,
                    minlength: 5
                },
                rfc: {
                    minlength: 10,
                    maxlength: 13,
                    required: false
                }
            },
            messages: {
                name: "Ingrese el nombre de la surcursal",
                address: "Ingrese la dirección de la surcursal",
                colony: "Ingrese la colonia de la surcursal",
                states: "Ingrese el estado de la surcursal",
                municipality: "Ingrese el municipio de la surcursal",
                locality: "Ingrese la Población de la surcursal",
                zip_code: "Este campo debe tener 5 números.",
                rfc: "R.F.C. inválido."
         }
    });

    //send form
    jQuery('#submit').live('click', function(e) {
        e.preventDefault();
        

        if(jQuery("#form_branch_office").valid()) {
            jQuery('.msgerror').hide();
            jQuery('.msgsuccess').hide();

             jQuery.ajax({
                url: "{{=URL(c='branches_ajax', f='create_branch')}}",
                data: { 
                    name:jQuery('#name').val(),
                    address:jQuery('#address').val(),
                    suburb:jQuery('#colony').val(),
                    states:jQuery('#states').val(),
                    municipality:jQuery('#municipality').val(),
                    locality:jQuery('#locality').val(),
                    zip_code:jQuery('#zip_code').val(),
                    corporate:jQuery('#corporate').val(),
                    rfc:jQuery('#rfc').val(),
                    tax_regime:jQuery('#tax_regime').val()
                },
                type: 'POST',
                success:function(data){
                    if(data){
                        jQuery('.msgsuccess').fadeIn(1600);
                        deleteFields();
                    }
                    else{
                        jQuery('.msgerror').fadeIn(1600);
                        //jQuery('html').scrollTop();
                        //jQuery(window).scrollTop(0);
                    }
                    jQuery('body','html',window).animate(
                                                        {scrollTop:0}, 
                                                        1000);
                }
            }); 
        }
    });

    function deleteFields() {
        jQuery('#name').val('');
        jQuery('#address').val('');
        jQuery('#colony').val('');
        jQuery('#states')
            .find('option')
            .first()
            .attr('selected',true)
            .trigger("liszt:updated");
        jQuery('#municipality')
            .html('')
            .prepend('<option value="">Selecccionar</option>')
            .trigger("liszt:updated");
        jQuery('#locality')
            .html('')
            .prepend('<option value="">Selecccionar</option>')
            .trigger("liszt:updated");
        jQuery('#zip_code').val('');
        jQuery('#corporate').val('');
        jQuery('#rfc').val('');
        jQuery('#tax_regime').val('');
    }

    
</script>


</body>
</html>
{{end}}
