{{if auth.has_membership(role='GOD') or auth.has_membership(role='Administrador'):}}
<li id="sidebar_branches"><a href="#branch_office" class="typo">Sucursales</a>
   <span class="arrow"></span>
       <ul id="branch_office">
           <li id="sub_branch_office_read"><a href="{{=URL(c='branches', f='branch_office')}}">Ver Sucursales</a></li>
           <li id="sub_branch_office_new"><a href="{{=URL(c='branches', f='new_branch_office')}}">Nueva sucursal</a></li>
       </ul>
</li>

<li id="sidebar_warehouses"><a href="#warehouse" class="typo">Almacenes</a>
   <span class="arrow"></span>
       <ul id="warehouse">
           <li id="sub_warehouse_read"><a href="{{=URL(c='branches', f='warehouses')}}">Ver Almacenes</a></li>
           <li id="sub_warehouse_new"><a href="{{=URL(c='branches', f='new_warehouse')}}">Nuevo Almacén</a></li>
       </ul>
</li>
{{pass}}