<!--li><a href="#formsub" class="editor">Proveedores</a>
   <span class="arrow"></span>
       <ul id="formsub">
           <li><a href="forms.html">Ver proveedores</a></li>
           <li><a href="forms.html">Agregar nuevo proveedor</a></li>
           <li><a href="editor.html">Agregar agente de venta</a></li>
       </ul>
    </li-->
<li><a href="{{=URL(c='vendors')}}" class="gallery">Proveedores</a></li>
<li><a href="{{=URL(c='products')}}" class="gallery">Productos</a></li>
<li><a href="{{=URL(c='branches')}}" class="elements">Sucursales</a></li>