{{extend 'base/layout.html'}}
  
{{block scripts_extra}}
<script type="text/javascript" src="{{=URL('static', 'js/plugins/jquery.dataTables.min.js')}}"></script>
<script type="text/javascript" src="{{=URL('static', 'js/custom/tables.js')}}"></script>

<script type="text/javascript" src="{{=URL('static', 'js/custom/forms.js')}}"></script>
<script type="text/javascript" src="{{=URL('static', 'js/plugins/jquery.tagsinput.min.js')}}"></script>
<script type="text/javascript" src="{{=URL('static', 'js/plugins/charCount.js')}}"></script>
<script type="text/javascript" src="{{=URL('static', 'js/plugins/ui.spinner.min.js')}}"></script>
<script type="text/javascript" src="{{=URL('static', 'js/plugins/chosen.jquery.min.js')}}"></script>
<script type="text/javascript" src="{{=URL('static', 'js/plugins/jquery.validate.min.js')}}"></script>
{{end}}

{{block sidebar_menu}}
{{include 'users/sidebar.html'}}
{{end}}

{{block content}}
    <div class="centercontent">
    
        <div class="pageheader">
        
            <h1 class="pagetitle">{{=title}}</h1>
            
        </div><!--pageheader-->
        
        <div id="contentwrapper" class="contentwrapper">
        
                <div id="basicform" class="subcontent">
                                
                    <div class="contenttitle2">
                        <h3>Selecciona un usuario</h3>
                    </div><!--contenttitle-->

                    <form class="stdform" action="" method="post">
                        <p>
                        	
                            <span class="formwrapper" style="margin-left:0px;">
                            	  <select id="users_select" data-placeholder="Seleccionar" class="chzn-select" style="width:350px;" tabindex="1">
                                </select>
                            </span>
                        </p>
                         <p>
                        	
                            <span class="formwrapper" style="margin-left:0px; margin-top:-20px;">
                            	<input type="radio" id="a" name="filtervendors" value="TRUE" onclick="ajaxFilter(this.value)" checked="checked"/> Habilitados &nbsp; &nbsp;
                            	<input type="radio" id="b" name="filtervendors"  value="FALSE" onclick="ajaxFilter(this.value)"/> Deshabilitados &nbsp; &nbsp;
                                <input type="radio" id="c" name="filtervendors" value="ANY" onclick="ajaxFilter(this.value)"/> Todos &nbsp; &nbsp;
                            </span>
                        </p>
                        
                    </form>

            </div><!--subcontent-->	   
            
            <div class="one_half" style="margin-bottom:40px;">
              
              <table cellpadding="0" cellspacing="0" class="table invoice" style="margin-bottom:4px;">
               	  <tr>
                   	  <td width="30%">Nombre de usuario:</td>
                      <td width="70%"><strong id="username"></strong></td>
                  </tr>
               	  <tr>
               	    <td>Nombre(s):</td>
               	    <td><strong id="first_name"></strong></td>
           	      </tr>
                  <tr>
                	  <td>Apellidos:</td>
                	  <td><strong id="last_name"></strong></td>
              	  </tr>
              	  <tr>
                	  <td>Fecha de nacimiento:</td>
                	  <td><strong id="birthday"></strong></td>
              	  </tr>
              	  <tr>
                	  <td>NSS:</td>
                	  <td><strong id="social_secure_number"></strong></td>
              	  </tr>
              	  <tr>
                	  <td>Sueldo:</td>
                	  <td><strong id="salary"></strong></td>
              	  </tr>
              	  <tr>
                	  <td>Correo Electrónico:</td>
                	  <td><strong id="email"></strong></td>
              	  </tr>
              	  <tr>
                	  <td>Teléfono:</td>
                	  <td><strong id="phone"></strong></td>
              	  </tr>
              	  <tr>
                	  <td>Teléfono celular:</td>
                	  <td><strong id="mobile"></strong></td>
              	  </tr>
              </table>     
            </div><!--one_half-->

            
			<div class="one_half last" style="margin-bottom:40px;">
           
              <table cellpadding="0" cellspacing="0" class="table invoice" style="margin-bottom:4px;">
              	  <tr>
                	  <td width="30%">Estado:</td>
                	  <td width="70%"><strong id="state"></strong></td>
              	  </tr>
              	  <tr>
                	  <td>Municipio:</td>
                	  <td><strong id="municipality"></strong></td>
              	  </tr>
              	  <tr>
                	  <td>Población:</td>
                	  <td><strong id="locality"></strong></td>
              	  </tr>
              	  <tr>
                	  <td>Dirección:</td>
                	  <td><strong id="address"></strong></td>
              	  </tr>
              	  <tr>
                	  <td>Código postal:</td>
                	  <td><strong id="zip_code"></strong></td>
              	  </tr>
              	  <tr>
                	  <td>Sucursal:</td>
                	  <td><strong id="branch"></strong></td>
              	  </tr>
              	  <tr>
                	  <td>Grupos:</td>
                	  <td><strong id="group_id"></strong></td>
              	  </tr>
              	  <tr>
                   	  <td  width="30%">Estatus:</td>
                      <td  width="70%">
                        <input type="checkbox" name="status" disabled>
                        <span id="resp"></span>
                      </td>
                  </tr>
              </table>
              <a href="#" id="eu" data-id="">
                <span class="stdbtn btn_orange" style="float:right; margin-top:-4px;">Editar</span>
              </a>
            </div><!--one_half-->
                        
            <br clear="all"/> 
        </div><!--contentwrapper-->
        
        <br clear="all" />
        
	</div><!-- centercontent -->   
</div><!--bodywrapper-->
  
    
<script>
var users_select = jQuery('#users_select'),
    id = 0;

////// get active vendors //////
val = jQuery('.formwrapper input[name=filtervendors]:checked').val();
    ajaxFilter(val);

    jQuery('.formwrapper input:radio').on('change', function(e) {
        ajaxFilter(e.currentTarget.value);
    });

function ajaxFilter(who) {
    //console.log(which);
    jQuery('#users_select_chzn').remove();
    jQuery('#users_select').val('').removeClass('chzn-done').chosen();
    cleanFields();
    
    jQuery.ajax({
        type: "POST",
        url: "{{=URL(c='user', f='get_users')}}",
        dataType: "json",
        data: {query: who},
        success: function(results) {
        	options = "";
        	for(k in results){
	        	options += "<option value=\"" + results[k].id + "\">" + results[k].first_name +" "+ results[k].last_name + "</option>";
	        }
            jQuery('#users_select')	
                .html(options)
                .prepend('<option value="">Selecccionar</option>')
                .trigger("liszt:updated");
            }
    });
  }

users_select.change( function() {
  ////clean fields
  cleanFields();
  id = jQuery(this).find(':selected').val();

  if(id != '') {
    var username = jQuery('#username'),
        first_name = jQuery('#first_name'),
        last_name = jQuery('#last_name'),
        birthday = jQuery('#birthday'),
        social_secure_number = jQuery('#social_secure_number'),
        salary = jQuery('#salary'),
        phone = jQuery('#phone'),
        email = jQuery('#email'),
        mobile = jQuery('#mobile'),
        state = jQuery('#state'),
        municipality = jQuery('#municipality'),
        locality = jQuery('#locality'),
        zip_code = jQuery('#zip_code'),
        address = jQuery('#address'),
        branch = jQuery('#branch'),
        group_id = jQuery('#group_id'),
        status = jQuery('input[name=status]'),
        resp = jQuery('span#resp');
        resp.html('');

    //console.log(id);
    //insert here an ajax function and shit
    jQuery.ajax({ 
      url: "{{=URL(c='user', f='get_user_information')}}",
      type: "POST",
      data: { id: id }, 
      dataType:"json",
      success: function (data) {
        //receive something like data = {"name":"name","state":"state"}
        console.log(data.auth_user);
        /*username.html(data.auth_user['username']);
        first_name.html(data.auth_user['first_name']);
        last_name.html(data.auth_user['last_name']);
        birthday.html(data.auth_user['birthday']);
        social_secure_number.html(data.auth_user['social_secure_number']);
        salary.html(data.auth_user['salary']);
        phone.html(data.auth_user['phone']);
        email.html(data.auth_user['email']);
        mobile.html(data.auth_user['mobile']);        
        state.html(data.auth_user['name']);
        municipality.html(data.auth_user['name']);
        locality.html(data.auth_user['name']);
        zip_code.html(data.auth_user['zip_code']);
        address.html(data.auth_user['address']);
        branch.html(data.auth_user['branch']);
        group_id.html(data.auth_membership['group_id']);

        jQuery('#eu')
        .attr('href', "{{=URL(c='users', f='update_user')}}"+'?id='+data.users.id);/*
       
        /*
        status.val(id).removeAttr('disabled');
        status.parent().parent().removeClass('disabled'); 

        if (data.vendors['status'] == true) {
          status.parent().addClass('checked');
          status.attr('onclick','chk('+id+',"True")');
          resp.html('Activado.');
        } else{
          status.parent().removeClass('checked');
          status.attr('onclick','chk('+id+',"False")');
          resp.html('Desactivado.');
        };
        */
        
      }
    });     
  }

});

function cleanFields() {
    jQuery('#eu').removeAttr('href');
  
    var username = jQuery('#username'),
	    first_name = jQuery('#first_name'),
	    last_name = jQuery('#last_name'),
	    birthday = jQuery('#birthday'),
	    social_secure_number = jQuery('#social_secure_number'),
	    salary = jQuery('#salary'),
	    phone = jQuery('#phone'),
	    email = jQuery('#email'),
	    mobile = jQuery('#mobile'),
	    state = jQuery('#state'),
	    municipality = jQuery('#municipality'),
	    locality = jQuery('#locality'),
	    zip_code = jQuery('#zip_code'),
	    address = jQuery('#address'),
	    branch = jQuery('#branch'),
	    group_id = jQuery('#group_id'),
	    status = jQuery('input[name=status]'),
	    resp = jQuery('span#resp');

      status.val('').attr('disabled',true);
      status
        .parent()
          .removeClass('checked')
          .parent()
            .addClass('disabled');
      resp.html('');

  var elements = [username, last_name, last_name, birthday, social_secure_number, salary, phone, email, mobile, state, municipality, locality, zip_code, 
                  address, branch, group_id];

  for(var e in elements) {
    elements[e].html('');
  }
}

////// edit buttons //////
function chk(id, s) {
    var status = jQuery('input[name=status]'),
        resp = jQuery('span#resp');

    if(s == 'True') {
        var ans = confirm('¿Está seguro que quiere deshabilitar este proveedor?.');

        if(ans) {
            jQuery.ajax({
                url: "{{=URL(c='vendors_ajax', f='toggle_vendor_status')}}",
                type: 'POST',
                data: { id: id, status: s }
            });
            status.parent().removeClass('checked');
            status.attr('onclick','chk('+id+',"False")');
            resp.html('Desactivado.');
            cleanFields();
            //jQuery('#vendors_select_chzn').remove();
            //jQuery('#vendors_select').val('').removeClass('chzn-done').chosen();

            if(jQuery('#a').parent('span').hasClass('checked')) {
                ajaxFilter('TRUE');
            } else if(jQuery('#b').parent('span').hasClass('checked')) {
                ajaxFilter('FALSE');
            } else {
                ajaxFilter('ANY');
            }

      } else {
        resp.html('Activado.');
        status.parent().addClass('checked');
      }        
    }
    else {
        var ans = confirm('¿Está seguro que quiere habilitar este usuario?.');

        if(ans) {
            jQuery.ajax({
              url: "{{=URL(c='vendors_ajax', f='toggle_vendor_status')}}",
              type: 'POST',
              data: { id: id, status: s }
            });
            status.parent().addClass('checked');
            status.attr('onclick','chk('+id+',"True")');
            resp.html('Activado.');
            cleanFields();
            //jQuery('#vendors_select_chzn').remove();
            //jQuery('#vendors_select').val('').removeClass('chzn-done').chosen();

            if(jQuery('#a').parent('span').hasClass('checked')) {
                ajaxFilter('TRUE');
            } else if(jQuery('#b').parent('span').hasClass('checked')) {
                ajaxFilter('FALSE');
            } else {
                ajaxFilter('ANY');
            }
        } else {
            resp.html('Desactivado.');
            status.parent().removeClass('checked');
        }
    }
  
}

</script>
</body>

</html>
{{end}}