{{extend 'base/layout.html'}}

{{block scripts_extra}}
<script type="text/javascript" src="{{=URL('static', 'js/plugins/jquery.alerts.pass.js')}}"></script>
<script type="text/javascript" src="{{=URL('static', 'js/plugins/notifications.js')}}"></script>
<script type="text/javascript" src="{{=URL('static', 'js/plugins/jquery.validate.min.js')}}"></script>
<script type="text/javascript" src="{{=URL('static', 'js/plugins/chosen.jquery.min.js')}}"></script>
<script type="text/javascript" src="{{=URL('static', 'js/plugins/jquery.dataTables.min.js')}}"></script>
<script type="text/javascript" src="{{=URL('static', 'js/custom/dualselector.js')}}"></script>
<style type="text/css">
    .ellol { border: 1px solid red; }
</style>
{{end}}

{{block sidebar_menu}}
{{include 'users/sidebar.html'}}
{{end}}

{{block content}}
    <div class="centercontent">
    
        <div class="pageheader">
        
            <h1 class="pagetitle">{{=title}}</h1>
            
        </div><!--pageheader-->
        
        <div id="contentwrapper" class="contentwrapper">
        
        	<div id="validation" class="subcontent">
         
					{{include 'base/notifications.html'}}
					                    
                    <div class="contenttitle2">
                        <h3>Nuevo usuario</h3>
                    </div><!--contenttitle-->
                    
                    <form id="form_users" class="stdform stdform2" method="post" action="">           	                        
                        
                        <p style="margin-top: 1px;">
	                        	<label>Nombre de usuario *</label>
	                            <span class="field"><input type="text" name="username" id="username" class="smallinput" tabindex="1"/></span>
	                    </p>
	                    <p style="margin-top: 1px;">
	                        	<label>Contraseña *</label>
	                            <span class="field"><input type="password" type="text" name="password" id="password" class="smallinput" tabindex="2"/></span>
	                    </p>
	                    <p style="margin-top: 1px;">
	                        	<label>Confirmar Contraseña *</label>
	                            <span class="field"><input type="password" type="text" name="confirm_password" id="confirm_password" class="smallinput" tabindex="3"/></span>
	                    </p>     
	                    <p style="margin-top: 1px;">
	                        	<label>Nombre(s) *</label>
	                            <span class="field"><input type="text" name="first_name" id="first_name" class="smallinput" tabindex="4"/></span>
	                    </p>
	                    <p style="margin-top: 1px;">
	                        	<label>Apellidos *</label>
	                            <span class="field"><input type="text" name="last_name" id="last_name" class="smallinput" tabindex="5"/></span>
	                    </p>
	                    <p style="margin-top: 1px;">
	                        	<label>Dirección</label>
	                            <span class="field"><input type="text" name="address" id="address" class="smallinput" tabindex="6"/></span>
	                    </p>  
	                    
	                    
	                    <p style="margin-top: 1px;">
	                        	<label>Código postal</label>
	                            <span class="field"><input type="text" name="zip_code" id="zip_code" class="smallinput" tabindex="6" maxlength="5"/></span>
	                    </p>
	                    <p style="margin-top: 1px;">
	                        	<label>Teléfono</label>
	                            <span class="field"><input type="text" name="phone" id="phone" class="smallinput" tabindex="6" maxlength="10"/></span>
	                    </p>
	                    <p style="margin-top: 1px;">
	                        	<label>Celular</label>
	                            <span class="field"><input type="text" name="mobile" id="mobile" class="smallinput" tabindex="6" maxlength="10"/></span>
	                    </p>
	                    
	                     
	                    <p style="margin-top: 1px;">
                            <label>Estado</label>
                            <span class="field">
                                <select id="states" name="states" data-placeholder="Seleccionar" class="chzn-select" style="width:350px;" tabindex="7">
                                  </select>
                            </span>
                        </p> 
                        <p style="margin-top: 1px;">
                            <label>Municipio</label>
                            <span id="municipality_container"class="field">
                            <select name="municipality" id="municipality" data-placeholder="Seleccionar" class="chzn-select" style="width:350px;" tabindex="8">
                            </select>
                            </span>
                        </p>
                        <p style="margin-top: 1px;">
                            <label>Población</label>
                            <span class="field" id="locality_container">
                            <select name="locality" id="locality" data-placeholder="Seleccionar" class="chzn-select" style="width:350px;" tabindex="9">
                            </select>
                            </span>
                        </p>         
	                    <p style="margin-top: 1px;">
	                        	<label>Fecha de nacimiento</label>
	                            <span class="field"><input type="text" id="birthday" name="birthday" tabindex="10"/></span>
	                    </p>
	                    <p style="margin-top: 1px;">
	                        	<label>NSS</label>
	                            <span class="field"><input type="text" name="social_secure_number" id="social_secure_number" class="smallinput" maxlength="11" tabindex="8"/></span>
	                    </p>
	                    <p style="margin-top:1px;">
	                        	<label>Grupos *</label>
	                            <span class="field">
                            	<select name="group_id" id="group_id" multiple="multiple" size="10" data-placeholder="Seleccionar" class="chzn-select" tabindex="10"></select>
                                </span>
	                    </p>
	                    <p style="margin-top: 1px;">
	                        	<label>Sueldo</label>
	                            <span class="field"><input type="text" name="salary" id="salary" class="smallinput" tabindex="12"/></span>
	                    </p>
	                    <p style="margin-top: 1px;">
	                        	<label>Correo Electrónico *</label>
	                            <span class="field"><input type="text" name="email" id="email" class="smallinput" tabindex="13"/></span>
	                    </p>
	                    <p id="selectbranch" style="margin-top: 1px;">
                            <label>Sucursal *</label>
                            <span class="field">
                                 <select id="branch" name="branch" data-placeholder="Seleccionar" class="chzn-select" style="" tabindex="14">
                                 </select>
                            </span>
                        </p>
	                                      
                        <p class="stdformbutton">
                        	<button id="submit" class="submit radius2" tabindex="7">Guardar</button>
                        </p>
                        
                        
                    </form>
                   

            </div><!--subcontent-->     
        
        </div><!--contentwrapper-->
        
        <br clear="all" />
        
	</div><!-- centercontent -->
        
</div><!--bodywrapper-->


<script>

	jQuery("#birthday").datepicker({ dateFormat: "yy-mm-dd" });
	jQuery(".chzn-select").chosen();
        
    var bid = '';
    var gid = '';
    var branch = jQuery('#branch');  
    var state = jQuery('#states'),
        municipality = jQuery('#municipality'),
        locality = jQuery('#locality'),
        groups = jQuery('#group_id');
    
    jQuery.ajax({
        type: "POST",
        url: "{{=URL(c='branches_ajax', f='get_branches')}}",
        dataType: "json",
        success: function(results) {
        	options = "";
        	for(k in results){
	        	options += "<option value=\"" + results[k].id + "\">" + results[k].name + "</option>";
	        }
            branch	
                .html(options)
                .prepend('<option value="">Seleccionar</option>')
                .trigger("liszt:updated");
            }
    });
    branch.change( function() {
        bid = jQuery(this).find(':selected').val();
        if(bid != '') {
	        branch.siblings('div').removeClass('ellol');
        }
    });
    
//// get groups ////

    jQuery.ajax({
        type: "POST",
        url: "{{=URL(c='user', f='get_groups')}}",
        dataType: "json",
        success: function(results) {
            options = "";
        	for(k in results){
	        	options += "<option value=\"" + results[k].id + "\">" + results[k].role + "</option>";
	        	//console.log(k]);
	        }
            groups	
                .html(options)
                .trigger("liszt:updated");
            }
    });  
    groups.change( function() {
        gid = jQuery(this).find(':selected').val();
        if(gid != '') {
	        groups.siblings('div').removeClass('ellol');
        }
    });
  
       
///// get states /////    
    
    var state = jQuery('#states'),
        municipality = jQuery('#municipality'),
        locality = jQuery('#locality');

    jQuery.ajax({
        type: "POST",
        url: "{{=URL(c='common', f='get_states')}}",
        success: function(results) {
            state
                .html(results)
                .prepend('<option value="">Selecccionar</option>')
                .trigger("liszt:updated");
            }
    });

//////////// get municipalities ////////////
    state.change( function() {
        var id = jQuery(this).find(':selected').val();
        if(id != '') {
            jQuery.ajax({
                type: "POST",
                url: "{{=URL(c='common', f='get_municipalities')}}",
                data: {id: id},
                success: function(results) {
                    municipality
                        .html(results)
                        .prepend('<option value="">Selecccionar</option>')
                        .trigger("liszt:updated");
                }
            });
        }
        else {
            municipality
                .html('')
                .prepend('<option value="">Selecccionar</option>')
                .trigger("liszt:updated");
            locality
                .html('')
                .prepend('<option value="">Selecccionar</option>')
                .trigger("liszt:updated");
        }
    });

//////////// get localities ////////////
    municipality.change( function() {
        var id = jQuery(this).find(':selected').val();
        if(id != '') {
            jQuery.ajax({
                type: "POST",
                data: {municipality_id: id},
                url: "{{=URL(c='common', f='get_localities')}}",
                success: function(results) {
                    locality
                        .html(results)
                        .prepend('<option value="">Selecccionar</option>')
                        .trigger("liszt:updated");
                }
            });
        }
        else {
            locality
                .html('')
                .prepend('<option value="">Selecccionar</option>')
                .trigger("liszt:updated");
        }
    });

        
//////////// validate form ////////

    jQuery("#form_users").validate({
        rules: {
            username: "required",
            'password': { required:true, minlength: 8, },
            'confirm_password': { required: '#password', minlength: 8, equalTo: "#password" },
            first_name: "required",
            last_name: "required",
            'email': { required:true, email: true },
            'social_secure_number': { required:false, number:true, maxlength: 11 }
        },
        messages: {
            username: "Ingrese un nombre de usuario.",
            'password': { required: 'Debe ingresar una contraseña', minlength: 'La contraseña debe tener mínimo 8 caracteres' },
            'confirm_password': { required: 'Debe ingresar una contraseña', minlength: 'La contraseña debe tener mínimo 8 caracteres', equalTo: 'Debe ingresar la misma contraseña del campo anterior' },
            first_name: "Ingrese su(s) nombre(s).",
            last_name: "Ingrese sus apellidos.",
            'email': { required: 'Debe ingresar un correo electrónico', email: 'Debe ingresar el correo electrónico con el formato correcto.' },
            social_secure_number: { number: 'Debe ingresar solo números', maxlength: 'ingrese máximo 11 caracteres' }
        }
     });
     
///// Submit form /////

jQuery('#submit').live('click', function(e) {
        e.preventDefault();
        valbra(bid);
        valGru(gid);
        var sid = jQuery('#states').val(),
            mid = (jQuery('#municipality').val() == null) ? '': jQuery('#municipality').val(),
            lid = (jQuery('#locality').val() == null) ? '': jQuery('#locality').val();
        
        Messages.hideAll();
        
        if(jQuery("#form_users").valid() && valbra(bid) && valGru(gid)) {

             jQuery.ajax({
                url: "{{=URL(c='user', f='create_user')}}",
                data: { 
                    username:jQuery('#username').val(),
                    password:jQuery('#password').val(),
                    first_name:jQuery('#first_name').val(),
                    last_name:jQuery('#last_name').val(),
                    address:jQuery('#address').val(),
                    zip_code:jQuery('#zip_code').val(),
                    phone:jQuery('#phone').val(),
                    mobile:jQuery('#mobile').val(),
                    state_id: sid,
                    municipality_id: mid,
                    locality_id: lid,
                    group_id:jQuery('#group_id').val() ? (jQuery('#group_id').val()) : '',
                    birthday:jQuery('#birthday').val(),
                    social_secure_number:jQuery('#social_secure_number').val(),
                    salary:jQuery('#salary').val(),
                    email:jQuery('#email').val(),
                    branch_id:jQuery('#branch').val(),
                },
                type: 'POST',
                success:function(data){
                    if(data != 0 && data){
                        Messages.showM('.msgsuccess', 'Se han guardado los datos del formulario.');
                        deleteFields();
                        recargargroups();
                        bid = 0;
                        jQuery('#branch').attr('tabindex','4');
                        jQuery('#branch_chzn').remove();
                        jQuery('#branch').val('').removeClass('chzn-done').chosen();
                        sid = 0;
                        mid = 0;
                        lid = 0;
                        jQuery('#states_chzn').remove();
                        jQuery('#states').val('').removeClass('chzn-done').chosen();
                        jQuery('#municipality_chzn').remove();
                        jQuery('#municipality').val('').removeClass('chzn-done').chosen();
                        jQuery('#locality_chzn').remove();
                        jQuery('#locality').val('').removeClass('chzn-done').chosen();
                   }
                    else if(data == 0) {
                        Messages.showM('.exists', 'Este usuario ya existe para editarlo vaya a edirar usuarios.');
                    }
                    else{
                        Messages.showM('.msgerror', 'Ocurrió un error con los datos del formulario');
                    }
                }
            }); 
        } else {
	        Messages.showM('.msgerror', 'Ocurrió un error con los datos del formulario');
        }
    });

///// Delete fields /////

    function deleteFields() {
        jQuery('#username').val('');
        jQuery('#password').val('');
        jQuery('#confirm_password').val('');
        jQuery('#first_name').val('');
		jQuery('#last_name').val('');
		jQuery('#address').val('');
		jQuery('#zip_code').val('');
		jQuery('#phone').val('');
		jQuery('#mobile').val('');
		jQuery('#birthday').val('');
		jQuery('#social_secure_number').val('');
		jQuery('#salary').val('');
		jQuery('#email').val('');
		jQuery('#branch')
            .find('option')
            .first()
            .attr('selected',true)
            .trigger("liszt:updated");
        jQuery('#states option')
            .first()
            .attr('selected',true)
            .trigger("liszt:updated");
        jQuery('#municipality')
            .html('')
            .prepend('<option value="">Selecccionar</option>')
            .trigger("liszt:updated");
        jQuery('#locality')
            .html('')
            .prepend('<option value="">Selecccionar</option>')
            .trigger("liszt:updated");
    }
     
///// Validate selects /////

    function valbra(s) {
    var bol;
    if (s != 0) {
        bol = true;
        jQuery('#branch').siblings('div').removeClass('ellol');
    } else if(s != null){
        bol = false;
        jQuery('#branch').siblings('div').addClass('ellol');
    } else{
        bol = false;
        jQuery('#branch').siblings('div').addClass('ellol');
    };
    return bol
    }
    
    function valGru(s) {
    var bol;
    if (s != 0) {
        bol = true;
        jQuery('#group_id').siblings('div').removeClass('ellol');
    } else if(s != null){
        bol = false;
        jQuery('#group_id').siblings('div').addClass('ellol');
    } else{
        bol = false;
        jQuery('#group_id').siblings('div').addClass('ellol');
    };
    return bol
    }  
    
////// groups ////////    
         
function recargargroups()
    {
    	jQuery.ajax({
        type: "POST",
        url: "{{=URL(c='user', f='get_groups')}}",
        dataType: "json",
        success: function(results) {
            options = "";
        	for(k in results){
	        	options += "<option value=\"" + results[k].id + "\">" + results[k].role + "</option>";
	        	//console.log(k]);
	        }
            groups	
                .html(options)
                .prepend('<option value="">Seleccionar</option>')
                .trigger("liszt:updated");
            }
    });        
    }         
         
</script>

</body>
</html>
{{end}}