<h4>Editar Marca</h4>
<br />

<form action="" method="post" class="quickform" id="form_brand">
	<div class="one_half">
        <p>
            <label for="title">Nombre</label>
            <input type="text" name="name" id="name" value="{{=name}}" />
        </p>    
    </div><!-- one_half -->
    
    <div class="one_half last">
         <p>
            <label for="title">Descripción</label>
            <input type="text" name="description" id="description" value="{{=description}}" />
        </p>
    </div><!-- one_half last -->
    
    <br clear="all" />
    
    <div class="quickformbutton">
    	<button class="update" id="submit">Actualizar</button>
        <button class="cancel">Cancelar</button>
        <span class="loading"><img src="{{=URL('static', '/images/loaders/loader3.gif')}}" alt="" />Actualizando cambios...</span>
    </div><!-- button -->
</form>

<script type="text/javascript">
    jQuery("#submit").on("click", function(e){
        e.preventDefault();
        jQuery.ajax({
            url: "{{=URL(c='products_ajax', f='update_brand')}}",
            type: "POST",
            data: { 
                id:{{=request.vars.id}},
                name:jQuery('#name').val(),
                description:jQuery('#description').val(),
            },
            success:function(data){
                if(data != 0 && data){
                        jQuery('.msgsuccess').fadeIn(1600, function() {
                            jQuery('.msgsuccess').fadeOut('slow');
                        });
                        result = true;
                        toggleData.append(data);                        //inject data read from server
                   }
                    else if(data == 0) {
                        jQuery('.exists').fadeIn(1600);
                        result = false;
                    }
                    else{
                        jQuery('.msgerror').fadeIn(1600);
                        result = false;
                    }
                    jQuery('body','html',window).animate(
                                                        {scrollTop:0}, 
                                                        1000);
            }
        })
    })
</script>