{{extend 'base/layout.html'}}

{{block scripts_extra}}
<script type="text/javascript" src="{{=URL('static', 'js/plugins/jquery.dataTables.min.js')}}"></script>
<script type="text/javascript" src="{{=URL('static', 'js/custom/tables.js')}}"></script>	
{{end}}

{{block sidebar_menu}}
{{include 'products/sidebar.html'}}
{{end}}

{{block content}}
    <div class="centercontent">
    
        <div class="pageheader">
        
            <h1 class="pagetitle">{{=title}}</h1>
            
        </div><!--pageheader-->
        
        <div id="contentwrapper" class="contentwrapper">
        
        	<div id="validation" class="subcontent">
            	
            		<div class="contenttitle2">
                        <h3>Nueva categoría</h3>
                    </div><!--contenttitle-->
            						
                    <form id="form_category" class="stdform stdform2" method="post" action="">
                    	
                        <p>
	                        <label>Nombre</label>
	                        <span class="field"><input type="text" name="category_name" id="category_name" class="longinput"/></span>
	                    </p>
	                    <p>
	                       	<label>Descripción</label>
	                        <span class="field"><input type="text" name="category_description" id="category_description" class="longinput"/></span>
	                    </p>
	                    <p class="stdformbutton">
                        	<button class="submit radius2">Guardar</button>
                        </p>
                    </form>

            </div><!--subcontent-->     
        
        </div><!--contentwrapper-->
        
        <br clear="all" />
        
	</div><!-- centercontent -->  
    
</div><!--bodywrapper-->

</body>
</html>
{{end}}
