{{extend 'base/layout.html'}}

{{block scripts_extra}}
<script type="text/javascript" src="{{=URL('static', 'js/plugins/jquery.dataTables.min.js')}}"></script>
<script type="text/javascript" src="{{=URL('static', 'js/custom/tables.js')}}"></script>	
{{end}}

{{block sidebar_menu}}
{{include 'products/sidebar.html'}}
{{end}}

{{block content}}
    <div class="centercontent">
    
        <div class="pageheader">
        
            <h1 class="pagetitle">{{=title}}</h1>
            
        </div><!--pageheader-->
        
        <div id="contentwrapper" class="contentwrapper">
        
        	<div id="validation" class="subcontent">
            	
            		<div class="contenttitle2">
                        <h3>Lista de precios</h3>
                    </div><!--contenttitle-->
            	    <br />   
                    
                    
                    <div class="contenttitle2">
                        <h3>Precio 1</h3>
                    </div><!--contenttitle-->   
                       
                    <form id="form_agent2" class="stdform stdform2" method="post" action="">
                    	<div id="camposgenerados">
	                    	<p>
	                        	<label>Nombre</label>
	                            <span class="field"><input type="text" name="description" id="description1" class="smallinput"/></span>
	                        </p> 
	                        
	                        <p style="margin-top: 1px;">
	                        	<label>Precio</label>
	                            <span class="field"><input type="text" name="description" id="description1" class="smallinput" keydown="aparecediv()"/></span>
	                        </p>
	                        <p style="margin-top: 1px;">
	                        	<label>Predeterminado</label>
	                            <span class="field"><input type="radio" name="radiofield" style="opacity: 0; "></span>
	                        </p>
                    	</div>
                       
                        <p class="stdformbutton">
                        	<button id="submit" class="submit radius2">Guardar</button>
                        </p>
                    </form>
                   

            </div><!--subcontent-->     
        
        </div><!--contentwrapper-->
        
        <br clear="all" />
        
	</div><!-- centercontent -->
    
    
</div><!--bodywrapper-->

<script type="text/javascript">

cont = 1;

</script>

</body>
</html>
{{end}}
