{{extend 'base/layout.html'}}

{{block scripts_extra}}
<script type="text/javascript" src="{{=URL('static', 'js/plugins/jquery.dataTables.min.js')}}"></script>
<script type="text/javascript" src="{{=URL('static', 'js/custom/tables.js')}}"></script>
<script type="text/javascript" src="{{=URL('static', 'js/plugins/chosen.jquery.min.js')}}"></script>	
<script type="text/javascript" src="{{=URL('static', 'js/plugins/scroll.js')}}"></script>
<style type="text/css">
    .ellol {
        border: 1px solid red;
    }    
</style>
{{end}}

{{block sidebar_menu}}
{{include 'products/sidebar.html'}}
{{end}}

{{block content}}
    <div class="centercontent">
    
        <div class="pageheader">
        
            <h1 class="pagetitle">{{=title}}</h1>
            
        </div><!--pageheader-->
        
        <div id="contentwrapper" class="contentwrapper">
            <div class="notibar msgerror" style="display:none;">
                        <a class="close"></a>
                        <!-- Ocurrió un error con los datos del formulario. -->
                        <p>Seleccione al menos un precio como predeterminado y/o llena los campos resaltados.</p>
                </div>

                <div class="notibar msgsuccess" style="display:none;">
                        <a class="close"></a>
                        <p>Se han guardado los datos del formulario.</p>
                    </div>
                <div class="notibar exists" style="display:none;">
                        <a class="close"></a>
                        <p>Seleecione un producto.</p>
                    </div>
        
        	<div id="validation" class="subcontent">
            	
            		<div class="contenttitle2">
                        <h3>Seleccione un producto</h3>
                    </div><!--contenttitle-->
            	    <br />   
                    <!--contenttitle-->   
                       
                    <form id="form_agent2" class="stdform stdform2" method="post" action="">
                         <p style="margin-top: 1px;">
                            <label>Productos</label>
                            <span class="field">
                                <select id="product" name="product" data-placeholder="Seleccionar" style="width:350px;" tabindex="1">
                                    <option value="">Seleccionar</option>
                                    <option value="9">Producto9</option>
                                    <option value="8">Producto8</option>
                                    <option value="7">Producto7</option>
                                    <option value="6">Producto6</option>
                                </select>
                            </span>
                        </p>
                        <p style="margin-top: 1px;">
                            <label>Nombre de la lista</label>
                            <span class="field">
                                <input type="text" id="name-list" name="name-list" class="smallinput" disabled>
                            </span>
                        </p>

                        <p style="margin-top: 1px;">
                            <label>Precio</label>
                            <span class="field">
                                <input type="text" id="price" name="price" class="smallinput" disabled>
                            </span>
                        </p>

                        <p class="stdformbutton" style="margin-top: 1px;">
                        	<button id="submit" class="submit radius2">Guardar</button>
                        </p>
                    </form>
                   

            </div><!--subcontent-->     
        
        </div><!--contentwrapper-->
        
        <br clear="all" />
        
	</div><!-- centercontent -->
    
    
</div><!--bodywrapper-->

<script type="text/javascript">
var product = jQuery("#product");

    product.chosen();

var name = jQuery('#name-list');
var price = jQuery('#price');
var productid;

   ///////// change method for select /////////
    product.change(function() {
        jQuery(this).siblings('div').removeClass('ellol');
        productid = jQuery(this).find(':selected').val();

        if (productid != '') {
            name.attr('disabled', false);
            //price.attr('disabled', false);
        } else{
            // name.attr('disabled', true);
            // price.attr('disabled', true);
            productid = '';
        };
    });

    jQuery('#submit').on('click', function(e) {
        e.preventDefault();
        jQuery('.msgsuccess').hide();
        jQuery('.msgerror').hide();
        jQuery('.exists').hide();

        var aerrors = [],
            perrors = [],
            chk = [];

        // Validate form and shit as usual....
        if (productid != '') {
            if (aerrors.length < 1 && perrors.length < 1 && chk.length == 1) {
                jQuery('.msgerror').fadeIn(600);
            };

            scrollThis();

        } else{
            product
                .siblings('div')
                .addClass('ellol');
            jQuery('.exists').fadeIn(600);
            scrollThis();
        };
                

    });

</script>

</body>
</html>
{{end}}
