{{extend 'base/layout.html'}}

{{block scripts_extra}}
<script type="text/javascript" src="{{=URL('static', 'js/plugins/jquery.dataTables.min.js')}}"></script>
<script type="text/javascript" src="{{=URL('static', 'js/custom/tables.js')}}"></script>
<script type="text/javascript" src="{{=URL('static', 'js/plugins/chosen.jquery.min.js')}}"></script>	
<script type="text/javascript" src="{{=URL('static', 'js/plugins/scroll.js')}}"></script>
<style type="text/css">
    .ellol {
        border: 1px solid red;
    }    
</style>
{{end}}

{{block sidebar_menu}}
{{include 'products/sidebar.html'}}
{{end}}

{{block content}}
    <div class="centercontent">
    
        <div class="pageheader">
        
            <h1 class="pagetitle">{{=title}}</h1>
            
        </div><!--pageheader-->
        
        <div id="contentwrapper" class="contentwrapper">
            <div class="notibar msgerror" style="display:none;">
                        <a class="close"></a>
                        <!-- Ocurrió un error con los datos del formulario. -->
                        <p>Llene los campos resaltados.</p>
                </div>

                <div class="notibar msgsuccess" style="display:none;">
                        <a class="close"></a>
                        <p>Se han guardado los datos del formulario.</p>
                    </div>
                <div class="notibar exists" style="display:none;">
                        <a class="close"></a>
                        <p>Seleccione un producto.</p>
                    </div>
        
        	<div id="validation" class="subcontent">
            	
            		<div class="contenttitle2">
                        <h3>Seleccione un producto</h3>
                    </div><!--contenttitle-->
            	    <br />   
                    <!--contenttitle-->   
                       
                    <form id="form_agent2" class="stdform stdform2" method="post" action="">
                         <p style="margin-top: 1px;">
                            <label>Productos</label>
                            <span class="field">
                                <select id="product" name="product" data-placeholder="Seleccionar" style="width:350px;" tabindex="1">
                                    <option value="">Seleccionar</option>
                                </select>
                            </span>
                        </p>
                        <p style="margin-top: 1px;">
                            <label>Nombre de la lista</label>
                            <span class="field">
                                <input type="text" id="name-list" name="name-list" class="smallinput" onfocus="remove_Class(this.id);"disabled>
                            </span>
                        </p>

                        <p style="margin-top: 1px;">
                            <label>Precio</label>
                            <span class="field">
                                <input type="text" id="price" name="price" class="smallinput" onfocus="remove_Class(this.id);" disabled>
                            </span>
                        </p>

                        <p class="stdformbutton" style="margin-top: 1px;">
                        	<button id="submit" class="submit radius2">Guardar</button>
                        </p>
                    </form>
                   

            </div><!--subcontent-->  
            <br>
            <table cellpadding="0" cellspacing="0" border="0" class="stdtable" id="table">
                <thead>
                    <tr>
                        <th class="head0">Nombre de la lista</th>
                        <th class="head1">Precio</th>
                        <th class="head0">Predeterminado</th>
                        <th class="head1">&nbsp;</th>
                        
                    </tr>
                </thead>
                <tfoot>
                    <tr>
                        <th class="head0">Nombre de la lista</th>
                        <th class="head1">Precio</th>
                        <th class="head0">Predeterminado</th>
                        <th class="head1">&nbsp;</th>
                        
                    </tr>
                </tfoot>
            </table>   
        
        </div><!--contentwrapper-->
        
        <br clear="all" />
        
	</div><!-- centercontent -->
    
    
</div><!--bodywrapper-->

<script type="text/javascript">
var product = jQuery("#product");
var namelist = jQuery('#name-list');
var price = jQuery('#price');
var productid = '';
var oTable = jQuery('#table');

    ///////// get products /////////
    get_products();
    function get_products() {
        jQuery.ajax({
            url: "{{=URL(c='products_ajax', f='get_products')}}",
            type: "POST",
            dataType: "json",
            success: function(data){
                for(d = 0; d < data.length; d++) {
                    product.append('<option value='+data[d].product_descriptions.id+'>'+data[d].product_descriptions.name+'</option>');
                }
            },
            complete: function() {
                product.chosen();
            }
        });
    }

   ///////// change method for product`s select /////////
    product.change(function() {
        jQuery(this).siblings('div').removeClass('ellol');
        productid = jQuery(this).find(':selected').val();

        if (productid != '') {
            namelist.attr('disabled', false);
            price.attr('disabled', false);
            oTable.dataTable().fnClearTable();
            sendId(productid);
        } else{
            namelist
                .attr('disabled', true)
                .val('');
            price
                .attr('disabled', true)
                .val('');
            productid = '';
            oTable.dataTable().fnClearTable();
        }
        
    });

    function remove_Class(who) {
        jQuery('#'+who).removeClass('error');
    }

    jQuery('#submit').on('click', function(e) {
        e.preventDefault();
        jQuery('.msgsuccess').hide();
        jQuery('.msgerror').hide();
        jQuery('.exists').hide();
        var listid = '';

        // Validate form and shit as usual....
        if (productid != '') { 
            if (namelist.val().length <= 0) {
                namelist.addClass('error');
                jQuery('.msgerror').fadeIn(600);
            } else if (price.val().length <= 0) {
                price.addClass('error');
                jQuery('.msgerror').fadeIn(600);
            } else {
                //sendId(productid);
                saveNewList(productid, namelist.val(), price.val());
                oTable.dataTable().fnClearTable();
                sendId(productid);
                namelist.val('');
                price.val('');
            }; 
            
        } else{
            product
                .siblings('div')
                    .addClass('ellol');
            jQuery('.exists').fadeIn(600);
        };

         scrollThis();
                

    });

    function saveNewList(id, namelist, price) {
        jQuery.ajax({
            url: "{{=URL(c='products_ajax', f='create_price')}}",
            type: "POST",
            data: { 
                    product_id: id,
                    name: namelist,
                    price: price
                },
            success: function(data){
                if (data) {
                    jQuery('.msgsuccess').fadeIn(900, function() {
                        jQuery(this).fadeOut(200);
                    });
                } else{
                    jQuery('.msgerror').fadeIn(600);
                };
            }
        });
    }

    function sendId(id) {
        var theresdata = '';
        jQuery.ajax({
            url: "{{=URL(c='products_ajax', f='get_product_information')}}",
            type: "POST",
            data: { id: id},
            dataType: "json",
            success: function(data){
                cont = 0;
                aaData = new Array();
                // console.log(data.price_list);
                theresdata = data.price_list;
                if(theresdata){
                    for(e = 0; e < data.price_list.length; e++) {
                        checked = (data.price_list[e].is_default == true) ? "checked=\"checked\"" : ""
                        aaData[cont] = [
                            data.price_list[e].name, 
                            data.price_list[e].price, 
                            '<input type="radio" value="'+id+'" name="radios" '+checked+'/>', 
                            "<a href=\"{{=URL(c='products', f='list_quickedit.html')}}?id="+data.price_list[e].id +"\" class=\"toggle\">Editar</a>"
                            ];
                        cont++;
                    }
                }
            },
            complete: function() {
                if(theresdata) {
                    loadTable(aaData);
                }
            }
        });
    }

    function loadTable(aaData) {
        jQuery("#table").dataTable( {
            "bDestroy": true,
            "oLanguage": {
                "sProcessing": "Procesando...",
                "sLengthMenu": "Ver _MENU_ registros",
                "sZeroRecords": "No se encontraron registros",
                "sEmptyTable": "No hay registros en esta tabla",
                "sLoadingRecords": "Cargando...",
                "sInfo": "Viendo _START_ - _END_ de _TOTAL_ registros",
                "sInfoEmpty": "Viendo 0 - 0 de 0 registros",
                "sInfoFiltered": "(Flitrado de _MAX_ registros totales)",
                "sSearch": "Buscar",
                "oPaginate": {
                    "sFirst":"Primero",
                    "sPrevious":"Anterior",
                    "sNext":"Siguiente",
                    "sLast":"Ultimo"
                },
            },
            "sPaginationType": "full_numbers",
            "aaData": aaData,
            "aoColumns": [
                {"sTitle":"Nombre de la lista"},
                {"sTitle":"Precio"},
                {"sTitle":"Predeterminado", "sClass":"center"},
                {"sTitle":"", "sClass":"center"}
            ]
        });
        
        jQuery('.dataTables_length select, input:checkbox, input:radio').uniform();
        quickEdit();
        togglestatus();
        jQuery('#table_paginate span, #table_length select').on('click', function() {
            jQuery('.dataTables_length select, input:checkbox, input:radio').uniform();
            togglestatus();
        });
    }

    function quickEdit(){
        jQuery('#table').on("click", 'a', function(e){ 
            e.preventDefault();                               
            //this is to hide current open quick view in a table 
            jQuery(this).parents('table').find('tr').each(function(){
                jQuery(this).removeClass('hiderow');
                if(jQuery(this).hasClass('togglerow'))
                    jQuery(this).remove();
            });
            
            var parentRow = jQuery(this).parents('tr');
            var numcols = parentRow.find('td').length + 1;              //get the number of columns in a table. Added 1 for new row to be inserted              
            var url = jQuery(this).attr('href');
            
            //this will insert a new row next to this element's row parent
            parentRow.after('<tr class="togglerow"><td colspan="'+numcols+'"><div class="toggledata"></div></td></tr>');
            
            var toggleData = parentRow.next().find('.toggledata');
            
            parentRow.next().hide();
            
            //get data from server
            jQuery.post(url,function(data){
                toggleData.append(data);                        //inject data read from server
                parentRow.next().fadeIn();                      //show inserted new row
                parentRow.addClass('hiderow');                  //hide this row to look like replacing the newly inserted row
                //jQuery('input,select').uniform();
            });

            jQuery('.toggledata button.cancel').live('click',function(){
                jQuery(this).parents('.toggledata').animate({height: 0},200, function(){
                    jQuery(this).parents('tr').prev().removeClass('hiderow');                                            
                    jQuery(this).parents('tr').remove();
                });
                return false;
            });
                    
            return false;
        });
    }

    function togglestatus() {
        jQuery('.stdtable input:checkbox').unbind('change');
        jQuery('.stdtable input:checkbox').on("change", function(e){
            jQuery.ajax({
                url: "{{=URL(c='products_ajax', f='toggle_brand')}}",
                type: "POST",
                data: {
                    id:e.currentTarget.value
                },
                success: function(data){
                    if(!jQuery('#c').is(':checked')) {
                        oTable = jQuery('#table').dataTable();
                        var row = jQuery(e.currentTarget).closest('tr').get(0);
                        oTable.fnDeleteRow(oTable.fnGetPosition(row));
                        togglestatus();
                        jQuery('.dataTables_length select, input:checkbox, input:radio').uniform();
                    }
                }
            });
        });
    }

</script>

</body>
</html>
{{end}}
