{{if auth.has_membership(role='GOD') or auth.has_membership(role='Administrador'):}}
<li id="sidebar_products"><a href="#products" class="typo">Productos</a>
   <span class="arrow"></span>
       <ul id="products">
           <li id="sub_products_read"><a href="{{=URL(c='products', f='index')}}">Ver Productos</a></li>
           <li id="sub_products_new"><a href="{{=URL(c='products', f='new_product')}}">Nuevo Producto</a></li>
           <!-- <li id="sub_products_prices"><a href="{{=URL(c='products', f='prices_list')}}">Lista de precios</a></li> -->
       </ul>
</li>

<li id="sidebar_brand"><a href="#brand" class="typo">Marcas</a>
   <span class="arrow"></span>
       <ul id="brand">
           <li  id="sub_brand_read"><a href="{{=URL(c='products', f='brands')}}">Ver Marcas</a></li>
           <li  id="sub_brand_new"><a href="{{=URL(c='products', f='new_brand')}}">Nueva Marca</a></li>
       </ul>
</li>

<li id="sidebar_categories"><a href="#categories" class="typo">Categorías</a>
   <span class="arrow"></span>
       <ul id="categories">
           <li id="sub_categories_read"><a href="{{=URL(c='products', f='categories')}}">Ver Categorías</a></li>
           <li id="sub_categories_new"><a href="{{=URL(c='products', f='new_category')}}">Nueva Categoría</a></li>
       </ul>
</li>

<li id="sidebar_units"><a href="#units" class="typo">Unidades de medida</a>
   <span class="arrow"></span>
       <ul id="units">
           <li id="sub_units_read"><a href="{{=URL(c='products', f='units')}}">Ver Unidades de medida</a></li>
           <li id="sub_units_new"><a href="{{=URL(c='products', f='new_unit')}}">Nueva unidad de medida</a></li>
       </ul>
</li>
{{pass}}