<h4>Editar Marca</h4>
<br />
<form action="" method="post" class="quickform">
	<div class="one_half">
        <p>
            <label for="title">Nombre</label>
            <input type="text" name="trademark_name" />
        </p>    
    </div><!-- one_half -->
    
    <div class="one_half last">
         <p>
            <label for="title">Descripción</label>
            <input type="text" name="trademark_description" />
        </p>
    </div><!-- one_half last -->
    
    <br clear="all" />
    
    <div class="quickformbutton">
    	<button class="update">Actualizar</button>
        <button class="cancel">Cancelar</button>
        <span class="loading"><img src="../../images/loaders/loader3.gif" alt="" />Actualizando cambios...</span>
    </div><!-- button -->
</form>