{{extend 'base/layout.html'}}

{{block scripts_extra}}
<script type="text/javascript" src="{{=URL('static', 'js/plugins/jquery.dataTables.min.js')}}"></script>
<script type="text/javascript" src="{{=URL('static', 'js/custom/tables.js')}}"></script>

<script type="text/javascript" src="{{=URL('static', 'js/custom/forms.js')}}"></script>
<script type="text/javascript" src="{{=URL('static', 'js/plugins/jquery.tagsinput.min.js')}}"></script>
<script type="text/javascript" src="{{=URL('static', 'js/plugins/charCount.js')}}"></script>
<script type="text/javascript" src="{{=URL('static', 'js/plugins/ui.spinner.min.js')}}"></script>
<script type="text/javascript" src="{{=URL('static', 'js/plugins/chosen.jquery.min.js')}}"></script>
<script type="text/javascript" src="{{=URL('static', 'js/plugins/jquery.validate.min.js')}}"></script>
{{end}}

{{block sidebar_menu}}
{{include 'products/sidebar.html'}}
{{end}}

{{block content}}
    <div class="centercontent">
    
        <div class="pageheader">
        
            <h1 class="pagetitle">{{=title}}</h1>
            
        </div><!--pageheader-->
        
        <div id="contentwrapper" class="contentwrapper">
            
            <table cellpadding="0" cellspacing="0" border="0" class="stdtable" id="dyntable">
                    <colgroup>
                        <col class="con0" />
                        <col class="con1" />
                        <col class="con0" />
                        <col class="con1" />
                        <col class="con0" />
                    </colgroup>
                    <thead>
                        <tr>
                            <th class="head0">Nombre</th>
                            <th class="head1">Abreviación </th>
                            <th class="head0">estatus </th>
                            <th class="head1">&nbsp;</th>
                        </tr>
                    </thead>
                    <tfoot>
                        <tr>
                            <th class="head0">Nombre</th>
                            <th class="head1">Abreviación </th>
                            <th class="head0">estatus </th>
                            <th class="head1">&nbsp;</th>
                        </tr>
                    </tfoot>
                    <tbody>
                        <tr class="gradeX">
                            <td width="35%">Centímetros</td>
                            <td width="25%">cm</td>
                            <td width="15%" style="text-align: center;"> <input type="checkbox" name="check2" checked="checked" /> </td>
                            <td width="15%" class="center" style="text-align: center;"><a href="{{=URL(c='products', f='units_quickedit.html')}}" class="toggle">Editar</a></td>
                        </tr>
                        <tr class="gradeC">
                            <td>Litros</td>
                            <td>l</td>
                            <td style="text-align: center;"> <input type="checkbox" name="check2" checked="checked" /> </td>
                            <td class="center" style="text-align: center;"><a href="{{=URL(c='products', f='units_quickedit.html')}}" class="toggle">Editar</a></td>
                        </tr>
                        <tr class="gradeA">
                            <td>Kilometros</td>
                            <td>km</td>
                            <td style="text-align: center;"> <input type="checkbox" name="check2" checked="checked" /> </td>
                            <td class="center" style="text-align: center;"><a href="{{=URL(c='products', f='units_quickedit.html')}}" class="toggle">Editar</a></td>
                        </tr>
                        <tr class="gradeA">
                            <td>Milimetros</td>
                            <td>ml</td>
                            <td style="text-align: center;"> <input type="checkbox" name="check2" checked="checked" /> </td>
                            <td class="center" style="text-align: center;"><a href="{{=URL(c='products', f='units_quickedit.html')}}" class="toggle">Editar</a></td>
                        </tr>
                    </tbody>
                </table>    
        
        </div><!--contentwrapper-->
        
        <br clear="all" />
        
	</div><!-- centercontent -->
    
    
</div><!--bodywrapper-->

</body>
</html>
{{end}}
