{{extend 'base/layout.html'}}

{{block scripts_extra}}
<script type="text/javascript" src="{{=URL('static', 'js/plugins/jquery.maskedinput.js')}}"></script>
<script type="text/javascript" src="{{=URL('static', 'js/plugins/jquery.validate.min.js')}}"></script>
<script type="text/javascript" src="{{=URL('static', 'js/plugins/chosen.jquery.min.js')}}"></script>
<script type="text/javascript" src="{{=URL('static', 'js/plugins/jquery.dataTables.min.js')}}"></script>
<script type="text/javascript" src="{{=URL('static', 'js/custom/dualselector.js')}}"></script>
<script type="text/javascript" src="{{=URL('static', 'js/plugins/notifications.js')}}"></script>
<style type="text/css">
    .ellol {
        border: 1px solid red;
    }    
</style>
{{end}}

{{block sidebar_menu}}
{{include 'products/sidebar.html'}}
{{end}}

{{block content}}
    <div class="centercontent">
    
        <div class="pageheader">
        
            <h1 class="pagetitle">{{=title}}</h1>
            
        </div><!--pageheader-->
        
        <div id="contentwrapper" class="contentwrapper">
        
        	<div id="validation" class="subcontent">
            	
            		<div class="contenttitle2">
                        <h3>Editar producto</h3>
                    </div><!--contenttitle-->
         
					{{include 'base/notifications.html'}}
            	
                    <form id="form_product" class="stdform stdform2" method="post" action="">           	                        
                        <p>
	                        	<label>Nombre *</label>
	                            <span class="field"><input type="text" name="name" id="name" class="smallinput" tabindex="1"/></span>
	                    </p>
	                    <p>
	                        	<label>Nombre alternativo</label>
	                            <span class="field"><input type="text" name="alternative_name" id="alternative_name" class="smallinput" tabindex="2"/></span>
	                    </p>
	                    <p>
	                        	<label>Código alternativo</label>
	                            <span class="field"><input type="text" name="alternative_code" id="alternative_code" class="smallinput" tabindex="3"/></span>
	                    </p>
	                    <p style="margin-top: 1px;">
                            <label>Marca *</label>
                            <span class="field">
                                <select id="brands" name="brands" data-placeholder="Seleccionar" class="chzn-select" style="width:350px;" tabindex="4">
                                  </select>
                            </span>
                        </p>
                        <p style="margin-top: 1px;">
	                        	<label>Modelo</label>
	                            <span class="field"><input type="text" name="model" id="model" class="smallinput" tabindex="5"/></span>
	                    </p>
	                    <p style="margin-top: 1px;">
                            <label>Unidad de medida *</label>
                            <span class="field">
                                <select id="unit" name="unit" data-placeholder="Seleccionar" class="chzn-select" style="width:350px;" tabindex="6">
                                  </select>
                            </span>
                        </p>
                        <p style="margin-top: 1px;">
	                        	<label>Número de parte</label>
	                            <span class="field"><input type="text" name="part_number" id="part_number" class="smallinput" tabindex="7"/></span>
	                    </p>
	                    <p>
	                        	<label>Número de serie</label>
	                            <span class="field"><input type="text" name="serial_number" id="serial_number" class="smallinput" tabindex="8"/></span>
	                    </p>
	                    <p style="margin-top: 1px;">
                            <label>Categoría *</label>
                            <span class="field">
                                <select id="category" name="category" data-placeholder="Seleccionar" class="chzn-select" style="width:350px;" tabindex="9">
                                  </select>
                            </span>
                        </p>
	                    <p style="margin-top:1px;">
	                        	<label>Proveedores</label>
	                            <span class="field">
                            	<select name="vendors" id="vendors" multiple="multiple" size="10" data-placeholder="Seleccionar" class="chzn-select" tabindex="10"></select>
                               
                                </span>
	                    </p>
	                    <p>
	                        	<label>Costo estandar ($)</label>
	                            <span class="field"><input type="text" name="standard_cost" id="standard_cost" class="smallinput" placeholder="0.00" tabindex="11"/></span>
	                    </p>
	                    <p>
	                        	<label>Margen de utilidad (%)</label>
	                            <span class="field"><input type="text" name="markup" id="markup" class="smallinput" tabindex="12"/></span>
	                    </p>
	                    <p>
                        		<label>Descripción</label>
                        		<span class="field"><textarea cols="80" rows="5" name="description" id="description" class="smallinput" tabindex="13"></textarea></span>
                        </p>
	                    
                        <p class="stdformbutton">
                        	<button id="submit" class="submit radius2" tabindex="14">Guardar</button>
                        </p>
                        
                        
                    </form>
                   

            </div><!--subcontent-->     
        
        </div><!--contentwrapper-->
        
        <br clear="all" />
        
	</div><!-- centercontent -->
        
</div><!--bodywrapper-->

<script type="text/javascript">
    var id = {{=request.vars.id}}
//////////// Ajax for selects ////////////
    jQuery(".chzn-select").chosen();

    var brand_id = jQuery('#brands'),
        unit_id = jQuery('#unit'),
        category_id = jQuery('#category');
        vendors = jQuery('#vendors');
        
    var b = '',
        u = '',
        c = '';
        
    var bid,
        uid,
        cid;
///////// change methods for selects /////////
    brand_id.change( function() {
        bid = jQuery(this).find(':selected').val();
        if(bid != '') {
            brand_id.siblings('div').removeClass('ellol');
        }
    });
    
    unit_id.change( function() {
        uid = jQuery(this).find(':selected').val();
        if(uid != '') {
            unit_id.siblings('div').removeClass('ellol');
        }
    });
    
    category_id.change( function() {
        cid = jQuery(this).find(':selected').val();
        if(cid != '') {
            category_id.siblings('div').removeClass('ellol');
        }
    });


//////////// get info ////////////
    jQuery.ajax({
        url: "{{=URL(c='products_ajax', f='get_product_information')}}",
        data: { id: {{=request.vars.id}} },
        type: "POST",
        dataType:"json",
        success:function(data){
            jQuery('#name').val(data.product_descriptions['name']);
            jQuery('#alternative_name').val(data.product_descriptions['alternative_name']);
            jQuery('#alternative_code').val(data.products['alternative_code']);
            jQuery('#model').val(data.products['model']);
            jQuery('#part_number').val(data.products['part_number']);
            jQuery('#serial_number').val(data.products['serial_number']);
            jQuery('#standard_cost').val(data.products['standard_cost']);
            jQuery('#markup').val(data.products['markup']);
            jQuery('#description').val(data.product_descriptions['description']);
            bid = (data.brand_descriptions['brand_id'] == null) ? '': data.brand_descriptions['brand_id'];
            uid = (data.units['id'] == null) ? '': data.units['id'];
            cid = (data.category_descriptions['category_id'] == null) ? '': data.category_descriptions['category_id'];
            selectBrands(bid);
            selectUnit(uid);
            selectCategory(cid);
            selectVendor(data.vendors);
        },
    });

//////////// validate form ////////////

    jQuery("#form_product").validate({
            rules: {
                name: "required",
                standard_cost: {
                	number: true,
	                required: false
                },
                markup: {
                    number: true,
                    required: false
                },
            },
            messages: {
                name: "Ingrese el nombre del producto",
                standard_cost: "Ingrese números enteros con máximo dos decimales",
                markup: "Ingrese números enteros con máximo dos decimales"
            }
        });
        
//////////// send form ////////////                 
    jQuery('#submit').live('click', function(e) {
        e.preventDefault();
        valbra(bid);
        valuni(uid);
        valcat(cid);
        
        msg.hideAll();

        if(jQuery("#form_product").valid() && valbra(bid) && valuni(uid) && valcat(cid)) {
             jQuery.ajax({
                url: "{{=URL(c='products_ajax', f='update_product')}}", //add here your python's function to update products
                data: { 
                    name:jQuery('#name').val(),
                    alternative_name:jQuery('#alternative_name').val(),
                    alternative_code:jQuery('#alternative_code').val(),
                    brand_id:jQuery('#brands').val(),
                    model:jQuery('#model').val(),
                    unit_id:jQuery('#unit').val(),
                    part_number:jQuery('#part_number').val(),
                    serial_number:jQuery('#serial_number').val(),
                    category_id:jQuery('#category').val(),
                    vendors:jQuery('#vendors').val() ? (jQuery('#vendors').val()) : '',
                    standard_cost:jQuery('#standard_cost').val(),
                    markup:jQuery('#markup').val(),
                    description:jQuery('#description').val(),
                    id: {{=request.vars.id}}
                },
                type: 'POST',
                success:function(data){
                    if(data != 0 && data){
                        msg.successWR("", "{{=URL(c='products', f='view_product')}}?id="+{{=request.vars.id}});

                        // deleteFields();
                        // bid = 0;
                        // uid = 0;
                        // cid = 0;

                        // jQuery('#brands').attr('tabindex','4');
                        // jQuery('#brands_chzn').remove();
                        // jQuery('#brands').val('').removeClass('chzn-done').chosen();
                        
                        // jQuery('#unit').attr('tabindex','6');
                        // jQuery('#unit_chzn').remove();
                        // jQuery('#unit').val('').removeClass('chzn-done').chosen();
                        
                        // jQuery('#category').attr('tabindex','9');
                        // jQuery('#category_chzn').remove();
                        // jQuery('#category').val('').removeClass('chzn-done').chosen();
                    }
                    else if(data == 0) {
                        msg.exists("Este producto existe, para editarlo vaya a la sección de ver productos.");
                    }
                    else{
                        msg.error();
                    }
                }
            }); 
        } else {
            msg.error();
        }
    });

    function valbra(s) {
        var bol;
        if (s != 0) {
            bol = true;
            jQuery('#brands').siblings('div').removeClass('ellol');
        } else if(s != null){
            bol = false;
            jQuery('#brands').siblings('div').addClass('ellol');
        } else{
            bol = false;
            jQuery('#brands').siblings('div').addClass('ellol');
        };
        return bol
    }
    
    function valuni(s) {
        var bol;
        if (s != 0) {
            bol = true;
            jQuery('#unit').siblings('div').removeClass('ellol');
        } else if(s != null){
            bol = false;
            jQuery('#unit').siblings('div').addClass('ellol');
        } else{
            bol = false;
            jQuery('#unit').siblings('div').addClass('ellol');
        };
        return bol
    }
    
    function valcat(s) {
        var bol;
        if (s != 0) {
            bol = true;
            jQuery('#category').siblings('div').removeClass('ellol');
        } else if(s != null){
            bol = false;
            jQuery('#category').siblings('div').addClass('ellol');
        } else{
            bol = false;
            jQuery('#category').siblings('div').addClass('ellol');
        };
        return bol
    }


    function selectBrands(id) {
        jQuery.ajax({
            type: "POST",
            url: "{{=URL(c='products_ajax', f='get_brands')}}",
            dataType: "json",
            success: function(data) {
                options = '';
                for(key in data){
                    val = data[key].brand_descriptions;
                    options += '<option value="' + val.brand_id + '">' + val.name + '</option>\n';
                }
                brand_id
                    .html(options)
                    .prepend('<option value="">Selecccionar</option>')
                    .trigger("liszt:updated");
                },
            complete: function() {
                brand_id
                    .find('option[value='+id+']').attr('selected',true)
                    .trigger("liszt:updated");
            }
        });
    }

    function selectUnit(id) {
        jQuery.ajax({
            type: "POST",
            url: "{{=URL(c='products_ajax', f='get_units')}}",
            dataType: "json",
            success: function(data) {
                options = '';
                for(key in data){
                    val = data[key];
                    options += '<option value="' + val.id + '">' + val.name + '</option>\n';
                }
                unit_id
                    .html(options)
                    .prepend('<option value="">Selecccionar</option>')
                    .trigger("liszt:updated");
                },
            complete: function() {
                unit_id
                    .find('option[value='+id+']').attr('selected',true)
                    .trigger("liszt:updated");
            }
        });
    }

    function selectCategory(id) {
        jQuery.ajax({
            type: "POST",
            url: "{{=URL(c='products_ajax', f='get_categories')}}",
            dataType: "json",
            success: function(data) {
                options = '';
                for(key in data){
                    val = data[key].category_descriptions;
                    options += '<option value="' + val.category_id + '">' + val.name + '</option>\n';
                }
                category_id
                    .html(options)
                    .prepend('<option value="">Selecccionar</option>')
                    .trigger("liszt:updated");
                },
            complete: function() {
                category_id
                    .find('option[value='+id+']').attr('selected',true)
                    .trigger("liszt:updated");
            }
        });
    }

    function selectVendor(ids) {
        jQuery.ajax({
            type: "POST",
            url: "{{=URL(c='vendors_ajax', f='get_vendors')}}",
            success: function(results) {
                vendors 
                    .html(results)
                    .trigger("liszt:updated");
            },
            complete: function() {
                for(k in ids) {
                    id = ids[k].id;
                    vendors
                        .find('option[value='+id+']').attr('selected',true)
                        .trigger("liszt:updated");
                }
            }
        });
    }
    
</script>

</body>
</html>
{{end}}
