{{extend 'base/layout.html'}}
  
{{block scripts_extra}}
<script type="text/javascript" src="{{=URL('static', 'js/plugins/jquery.tagsinput.min.js')}}"></script>
<script type="text/javascript" src="{{=URL('static', 'js/plugins/chosen.jquery.min.js')}}"></script>
<script type="text/javascript" src="{{=URL('static', 'js/plugins/jquery.validate.min.js')}}"></script>
{{end}}

{{block sidebar_menu}}
{{include 'products/sidebar.html'}}
{{end}}

{{block content}}
    <div class="centercontent">
    
        <div class="pageheader">
        
            <h1 class="pagetitle">{{=title}}</h1>
            
        </div><!--pageheader-->
        
        <div id="contentwrapper" class="contentwrapper">
        
                <div id="basicform" class="subcontent">
                                
                    <div class="contenttitle2">
                        <h3 id="name">Producto: ""</h3>
                    </div><!--contenttitle-->
                    
            </div><!--subcontent-->	   
            
            <div class="one_half" style="">
              
              <table cellpadding="0" cellspacing="0" class="table invoice">
               	  <tr>
                   	  <td width="30%">Código:</td>
                      <td width="70%"><strong id="code"></strong></td>
                  </tr>
               	  <!--<tr>
                   	  <td width="30%">Nombre:</td>
                      <td width="70%"><strong id="name"></strong></td>
                  </tr>-->
                  <tr>
                   	  <td>Nombre alternativo:</td>
                      <td><strong id="alternative_name"></strong></td>
                  </tr>
               	  <tr>
               	    <td>Código alternativo:</td>
               	    <td><strong id="alternative_code"></strong></td>
           	      </tr>
                  <tr>
                	  <td>Marca:</td>
                	  <td><strong id="brand_id"></strong></td>
              	  </tr>
              	  <tr>
                	  <td>Modelo:</td>
                	  <td><strong id="model"></strong></td>
              	  </tr>
              </table>
            </div><!--one_half-->
            
			<div class="one_half last" style="margin-bottom: 5px;">
           
              <table cellpadding="0" cellspacing="0" class="table invoice">
              	  <tr>
                	  <td>Unidad de medida:</td>
                	  <td><strong id="unit"></strong></td>
              	  </tr>
              	  <tr>
               	    <td>Número de parte:</td>
               	    <td><strong id="part_number"></strong></td>
           	      </tr>
              	  <tr>
                	  <td width="30%">Número de serie:</td>
                	  <td width="70%"><strong id="serial_number"></strong></td>
              	  </tr>
              	  <tr>
                	  <td>Categoría:</td>
                	  <td><strong id="category"></strong></td>
              	  </tr>
              	  <tr>
                	  <td>Proveedores:</td>
                	  <td><strong id="vendors"></strong></td>
              	  </tr>
              	  <tr>
                	  <td>Costo estandar:</td>
                	  <td><strong id="standard_cost"></strong></td>
              	  </tr>
              	  <tr>
                	  <td>Margen de utilidad:</td>
                	  <td><strong id="markup"></strong></td>
              	  </tr>

              	  <tr>
                	  <td>Descripción:</td>
                	  <td><strong id="description"></strong></td>
              	  </tr>
              </table>
            </div><!--one_half-->
            
            <div class="one_half" style="margin-bottom:40px; margin-top: -38px;">
           
              <table cellpadding="0" cellspacing="0" class="table invoice" style="margin-top:-4px;">
              	  <tr>
                   	  <td  width="30%">Estatus:</td>
                      <td  width="70%">
                        <input type="checkbox" name="status" disabled>
                        <span id="resp"></span>
                      </td>
                  </tr>
              </table>
            </div><!--one_half-->
            
            <a href="#" id="edit_product" data-id="" style="float:right;">
                <span class="stdbtn btn_orange">Editar</span>
            </a>

            
            <br clear="all"/> 
            	
            	<div class="contenttitle2">
                        <h3>Lista de precios del producto</h3>
                </div><!--contenttitle-->
            
            	<table cellpadding="0" cellspacing="0" border="0" class="stdtable" id="dyntable">
                    <colgroup>
                        <col class="con0" />
                        <col class="con1" />
                        <col class="con0" />
                        <col class="con1" />
                        <col class="con0" />
                        <col class="con1" />
                        <col class="con0" />
                    </colgroup>
                    <thead>
                        <tr>
                            <th class="head0">Código</th>
                            <th class="head1">Nombre</th>
                            <th class="head0">Categoría</th>
                            <th class="head1">Marca</th>
                            <th class="head0">Precio</th>
                            <th class="head1">Ver</th>
                            <th class="head0"></th>
                        </tr>
                    </thead>
                    <tfoot>
                        <tr>
                            <th class="head0">Código</th>
                            <th class="head1">Nombre</th>
                            <th class="head0">Categoría</th>
                            <th class="head1">Marca</th>
                            <th class="head0">Precio</th>
                            <th class="head1">Ver</th>
                            <th class="head0">Editar</th>
                        </tr>
                    </tfoot>
                    <tbody>
                        <tr class="gradeX">
                            <td>Trident</td>
                            <td>Internet Explorer 4.0</td>
                            <td>Win 95+</td>
                            <td class="center">4</td>
                            <td class="center">X</td>
                            <td><a href="{{=URL(c='products', f='view_product')}}">Ver</a></td>
                            <td class="center">Editar</th>                            
                        </tr>
                        <tr class="gradeC">
                            <td>Trident</td>
                            <td>Internet Explorer 5.0</td>
                            <td>Win 95+</td>
                            <td class="center">5</td>
                            <td class="center">C</td>
                            <td><a href="{{=URL(c='products', f='view_product')}}">Ver</a></td>
                            <td class="center">Editar</th>
                        </tr>
                        <tr class="gradeA">
                            <td>Trident</td>
                            <td>Internet Explorer 5.5</td>
                            <td>Win 95+</td>
                            <td class="center">5.5</td>
                            <td class="center">A</td>
                            <td><a href="{{=URL(c='products', f='view_product')}}">Ver</a></td>
                            <td class="center">Editar</th>
                        </tr>
                        <tr class="gradeA">
                            <td>Trident</td>
                            <td>Internet Explorer 6</td>
                            <td>Win 98+</td>
                            <td class="center">6</td>
                            <td class="center">A</td>
                            <td><a href="{{=URL(c='products', f='view_product')}}">Ver</a></td>
                            <td class="center">Editar</th>
                        </tr>
                        <tr class="gradeA">
                            <td>Trident</td>
                            <td>Internet Explorer 7</td>
                            <td>Win XP SP2+</td>
                            <td class="center">7</td>
                            <td class="center">A</td>
                            <td><a href="{{=URL(c='products', f='view_product')}}">Ver</a></td>
                            <td class="center">Editar</th>
                        </tr>
                    </tbody>
                </table>
            
        </div><!--contentwrapper-->
        
        <br clear="all" />
        
	</div><!-- centercontent -->   
</div><!--bodywrapper-->  
    
<script type="text/javascript">
var id = {{=request.vars.id}}
	
	jQuery('input:checkbox').uniform();

    var code = jQuery('#code'),	
    	name_product = jQuery('#name'),
        alternative_name = jQuery('#alternative_name'),
        alternative_code = jQuery('#alternative_code'),
        brand_id = jQuery('#brand_id'),
        model = jQuery('#model'),
        unit = jQuery('#unit'),       
        part_number = jQuery('#part_number'),
        serial_number = jQuery('#serial_number'),
        category = jQuery('#category'),  
        vendors = jQuery('#vendors'), 
        standard_cost = jQuery('#standard_cost'), 
        markup = jQuery('#markup'), 
        description = jQuery('#description'),       
        status_product = jQuery('input[name=status]'),
        resp = jQuery('span#resp');
        resp.html('');

//////////// get info ////////////

  jQuery.ajax({ 
      url: "{{=URL(c='products_ajax', f='get_product_information')}}",
      type: "POST",
      data: { id: id }, 
      dataType:"json",
      success: function (data) {
	        code.html(data.products['code']);
            name_product.html("Producto: \"" + data.product_descriptions['name'] + "\"");
            alternative_name.html(data.product_descriptions['alternative_name']);
            alternative_code.html(data.products['alternative_code']);
            brand_id.html(data.brand_descriptions['name']);
            model.html(data.products['model']);
            unit.html(data.units['name']);
            part_number.html(data.products['part_number']);
            serial_number.html(data.products['serial_number']);
            category.html(data.category_descriptions['name']);  
            v_name = '';
            for(k in data.vendors)
            {
	            v_name += data.vendors[k]['name'] + ', ';
            }
            v_name = v_name.slice(0, (v_name.length-2));
            if(v_name != ''){
              v_name += '.';
            }
            vendors.html(v_name);            
            standard_cost.html(data.products['standard_cost']);
            markup.html(data.products['markup']);
            description.html(data.product_descriptions['description']);
        
	        jQuery('#edit_product')
	        .attr('href', "{{=URL(c='products', f='update_product')}}"+'?id='+data.products.id);
	        
	        status_product.val(id).removeAttr('disabled');
	        status_product.parent().parent().removeClass('disabled'); 
	        status_product.parent().parent().attr('style', 'display:none;'); 
	
	        if (data.products['status'] == true) {
	          status_product.parent().addClass('checked');
	          status_product.attr('onclick','chk('+id+',"True")');
			  status_product.attr('disabled','disabled');
	          resp.html('Activado');
			  resp.attr('style','color:#59BF04');
	        } else{
	          status_product.parent().removeClass('checked');
	          status_product.attr('onclick','chk('+id+',"False")');
			  status_product.attr('disabled','disabled');
	          resp.html('Desactivado');
			  resp.attr('style','color:#A31314');
	        };
           
      }
  });     
    
</script>    
    
</body>

</html>
{{end}}

